<template>
	<div class="textAreaWrap">
		<textarea
			v-model.trim="value"
			@keyup="onKeyUp"
			@focus="focus = true"
			@blur="focus = false"
		></textarea>
		<div class="labelWrp" :class="{active: value != '', focus: focus}">
			<div class="pre" ref="pre"></div>
			<div class="center" :style="{ width: `${labelWidth}px` }">
				<span class="labelspan" ref="labelspan">{{ placeholder }}</span>
			</div>
			<div class="end"></div>
		</div>
	</div>
</template>

<script>
export default {
	name: "DefaultInput",
	components: {},
	props: ["placeholder", "propname"],
	data() {
		return {
			value: "",
			labelWidth: 0,
			focus: false,
		};
	},
	methods: {
		onKeyUp() {
			this.$emit("change", { name: this.propname, value: this.value });
		},
	},
	computed: {
		isMaskedInput() {
			if (this.mask !== undefined && this.mask !== null && this.mask !== "")
				return true;
			else return false;
		},
	},
	mounted() {
		this.labelWidth = this.$refs.labelspan.clientWidth + 4;
	},
};
</script>

<style scoped lang="scss">
.textAreaWrap {
	background-color: #f8f8f8;
	// box-shadow: 0 0 0 1px #aeaeb2;
	margin: 16px 0;
	position: relative;
	textarea {
		display: block;
		height: 64px;
		padding: 16px 24px;
		width: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
		border: none;
		box-sizing: border-box;
		resize: vertical;
		min-height: 117px;
		outline: none;
		background-color: transparent;
	}
	.labelWrp {
		pointer-events: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		.pre {
			top: 0;
			bottom: 0;
			left: 0;
			width: 24px;
			border-top: 1px solid #8e8e93;
			border-left: 1px solid #8e8e93;
			border-bottom: 1px solid #8e8e93;
			box-sizing: border-box;
		}
		.center {
			border-top: 1px solid #8e8e93;
			border-bottom: 1px solid #8e8e93;
			position: relative;
			box-sizing: border-box;
			.labelspan {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				color: #8e8e93;
				position: absolute;
				top: 24px;
				left: 50%;
				transform: translate(-50%, -50%);
				white-space: nowrap;
				transition: 0.1s ease;
			}
		}
		.end {
			border-top: 1px solid #8e8e93;
			border-right: 1px solid #8e8e93;
			border-bottom: 1px solid #8e8e93;
			flex-grow: 1;
			box-sizing: border-box;
		}
	}
	.labelWrp.active,
	.labelWrp.focus{
		.pre {
			border-top: 1px solid #8E8E93;
			border-left: 1px solid #8E8E93;
			border-bottom: 1px solid #8E8E93;
		}
		.center {
			border-top: none;
			border-bottom: 1px solid #8E8E93;
			.labelspan {
				top: 0;

				font-size: 15px;
				line-height: 19px;
				color: #000000;
			}
		}
		.end {
			border-top: 1px solid #8E8E93;
			border-right: 1px solid #8E8E93;
			border-bottom: 1px solid #8E8E93;
		}
	}
	.labelWrp.focus{
		.pre {
			border-top: 2px solid #000;
			border-left: 2px solid #000;
			border-bottom: 2px solid #000;
		}
		.center {
			border-top: none;
			border-bottom: 2px solid #000;
			.labelspan {
				top: 0;

				font-size: 15px;
				line-height: 19px;
				color: #000000;
			}
		}
		.end {
			border-top: 2px solid #000;
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
		}
	}
}
</style>