<template>
	<section class="landTopScreen">
		<div class="landContainer">
			<div class="landTextBlock">
				<div class="caption">{{compdata.title}}</div>
				<div v-html="compdata.text"></div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'About-simple-text',
	props: ['compdata'],
}
</script>

<style>

</style>