<template>
	<section class="landCertifications">
		<h2>{{compdata.title}}</h2>
		<div class="certsWrp">
			<a v-for="(item, index) in compdata.list" target="_blank" :href="path(item.file)" :key="index" class="item">
				<img :src="path(item.image)" :alt="path(item.image)" />
				<span class="ic-download-cloud"></span>
			</a>
		</div>
	</section>
</template>

<script>
export default {
	name: 'AboutCertificates',
	props: ['compdata'],
}
</script>

<style lang="scss">
.landCertifications {
	background-color: #f2f2f2;
	padding: 0px 48px 32px;
	@media (max-width: 1365px) {
		padding: 0px 24px 32px;
	}
	@media (max-width: 1023px) {
		padding: 64px 16px;
	}
	position: relative;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: -2px;
		bottom: -2px;
		left: 0;
		right: 0;
		border-radius: 0px 193px 0 0px;
		background-color: #b6e8e8;
		@media (max-width: 1365px) {
			border-radius: 0px 160px 0 0px;
		}
		@media (max-width: 1023px) {
			border-radius: 0px 0px 0 0px;
		}
	}
	& > * {
		position: relative;
		z-index: 5;
	}
	h2 {
		font-style: normal;
		font-weight: 600;
		font-size: 65px;
		line-height: 110%;
		text-align: center;
		color: #000000;
		margin: 0;
		padding: 80px 0 32px;
		@media (max-width: 1023px) {
			font-size: 55px;
		}
		@media (max-width: 767px) {
			font-size: 45px;
		}
		@media (max-width: 574px) {
			font-size: 40px;
		}
		@media (max-width: 375px) {
			font-size: 30px;
		}
	}
	.certsWrp {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width: 575px) {
			justify-content: flex-start;
		}
		.item {
			text-decoration: none;
			margin: 0 5px;
			position: relative;
			margin-bottom: 24px;
			@media (max-width: 575px) {
				width: calc(50% - 10px);
			}
			img {
				@media (max-width: 1023px) {
					width: 166px;
				}
				@media (max-width: 575px) {
					width: 100%;
				}
			}
			.ic-download-cloud {
				width: 62px;
				height: 46px;
				border-radius: 50px;
				border-top-right-radius: 0;
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 21px;
				color: #ff6058;
				position: absolute;
				bottom: 16px;
				right: 16px;
			}
		}
	}
}
</style>