<template>
	<section class="landHistorySection">
		<h2>{{compdata.title}}</h2>
		<Flickity ref="flickity" class="HistoryHorizontal" :options="sliderOptions">
			<div class="leftInfinite"></div>
			<div class="item" v-for="(item, index) in compdata.list" :key="index">
				<div class="hd">
					<div class="caption">{{item.title}}</div>
				</div>
				<div class="bd" v-html="item.text"></div>
			</div>
			<div class="rightInfinite"></div>
		</Flickity>
	</section>
</template>

<script>
import Flickity from "vue-flickity";
export default {
	props: ['compdata'],
	components: {
		Flickity,
	},
	data() {
		return {
			sliderOptions: {
				contain: true,
				freeScroll: true,
				pageDots: false,
				prevNextButtons: false,
			},
		}
	},
	methods: {

	},
	mounted () {
	},
}
</script>

<style lang="scss">
.landHistorySection {
	background-color: #f8f8f8;
	padding: 64px 0;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0px;
		bottom: 0px;
		left: 0;
		right: 0;
		border-radius: 193px 0px 0 0px;
		background-color: #f2f2f2;
		@media (max-width: 1365px) {
			border-radius: 160px 0px 0 0px;
		}
		@media (max-width: 1023px) {
			border-radius: 0px 0px 0 0px;
		}
	}
	& > * {
		position: relative;
		z-index: 5;
	}
	h2 {
		font-style: normal;
		font-weight: 600;
		font-size: 65px;
		line-height: 110%;
		text-align: center;
		color: #aeaeb2;
		padding: 0 0 48px;
		margin: 0;
		@media (max-width: 1023px) {
			font-size: 55px;
		}
		@media (max-width: 767px) {
			font-size: 45px;
		}
		@media (max-width: 574px) {
			font-size: 40px;
		}
		@media (max-width: 375px) {
			font-size: 30px;
		}
	}
	overflow-x: auto;
	.longItem {
		display: flex;
		flex-flow: row;
	}
	.leftInfinite {
		width: 260px;
		position: relative;
		@media (max-width: 575px) {
			width: 70px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 95px;
			left: 0;
			right: 0;
			height: 2px;
			transform: translate(0, -50%);
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 41%,
				rgba(0, 0, 0, 1) 100%
			);
			z-index: 5;
		}
	}
	.item {
		width: 350px;
		position: relative;
		padding-bottom: 35px;
		@media (max-width: 575px) {
			width: 280px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 95px;
			left: 0;
			right: 0;
			height: 2px;
			transform: translate(0, -50%);
			background-color: #000;
			z-index: 5;
		}
		&:after {
			content: "";
			position: absolute;
			top: 95px;
			left: 0;
			height: 24px;
			width: 24px;
			transform: translate(0, -50%);
			background-color: #ff6058;
			border-radius: 50%;
			z-index: 6;
		}
		.hd {
			height: 95px;
			.caption {
				font-style: normal;
				font-weight: 600;
				font-size: 40px;
				line-height: 51px;
				text-transform: uppercase;
				color: #000000;
			}
		}
		.bd {
			margin-top: 29px;
			padding-right: 25px;
			p {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 160%;
				color: #000000;
			}
		}
	}
	.rightInfinite {
		width: 260px;
		@media (max-width: 575px) {
			width: 50px;
		}
	}
}
</style>