<template>
	<section class="landTopScreen">
		<div class="landImgSliderWrp">
			<Flickity ref="flickity" class="landImgSlider" :options="sliderOptions">
				<div
					class="slide"
					v-for="(item, index) in compdata.list"
					:key="index"
					@click="oneClick(index)"
				>
					<img :src="path(item.image)" :alt="path(item.image)" @load="refreshSlider('flickity')" />
				</div>
			</Flickity>
			<div class="nav">
				<span class="ic-arrow-long-left" @click="onPrev"></span>
				<img :src="`${require('@/assets/img/handCup.svg')}`" alt="123" />
				<span class="ic-arrow-long-rigth" @click="onNext"></span>
			</div>
		</div>
		<ModalGallery
			v-if="modalGal"
			:compdata="compdata.list"
			@close="modalGal = !modalGal"
			:curIndex="currentImg"
		></ModalGallery>
	</section>
</template>

<script>
import Flickity from "vue-flickity";
import ModalGallery from "@/components/common/ModalGallery.vue";

export default {
	props: ["compdata"],
	components: {
		Flickity,
		ModalGallery,
	},
	data() {
		return {
			modalGal: false,
			sliderOptions: {
				cellAlign: "left",
				contain: true,
				pageDots: false,
				prevNextButtons: false,
				imagesLoaded: true,
				currentImg: 0,
			},
			delay: 300,
			clicks: 0,
			timer: null,
		};
	},
	methods: {
		onNext() {
			this.$refs.flickity.next();
		},
		onPrev() {
			this.$refs.flickity.previous();
		},
		onImgClick(index) {
			this.modalGal = !this.modalGal;
			this.currentImg = index;
		},
		oneClick(index) {
			this.clicks++;
			if (this.clicks === 1) {
				this.timer = setTimeout(() => {
					this.clicks = 0;
				}, this.delay);
			} else {
				clearTimeout(this.timer);
				this.onImgClick(index);
				this.clicks = 0;
			}
		},
	},
	mounted() {
		setTimeout(() => {
			this.$refs.flickity.resize();
		}, 10);
	},
};
</script>

<style>
</style>