<template>
	<section class="landContactFormSection">
		<div class="twoCol">
			<div class="l">
				<div class="contCaption">{{ compdata.title }}</div>
				<a :href="`mailto:${compdata.email}`" class="contLnk">{{
					compdata.email
				}}</a>
				<a :href="`tel:${compdata.phone}`" class="contLnk">{{
					compdata.phone
				}}</a>
				<div class="messagners">
					<a
						v-for="(item, index) in compdata.socials"
						:key="index"
						:href="item.link"
						>{{ item.title }}</a
					>
				</div>
			</div>
			<div class="r">
				<div class="contactFormWrp">
					<div class="constrFormCaption">{{ compdata.title2 }}</div>
					<p class="formTxt">{{ compdata.subtitle }}</p>
					<div class="constrInputCaption">{{ compdata.form_name }}</div>

					<default-input
						:placeholder="compdata.input_name_placeholder"
						@change="onFieldChange"
						propname="name"
						:validate="$v.name"
						:showError="showError"
					></default-input>
					<default-input
						:placeholder="compdata.input_company_placeholder"
						@change="onFieldChange"
						propname="companyName"
						:validate="$v.companyName"
						:showError="showError"
					></default-input>
					<phone-input
						:placeholder="compdata.input_phone_placeholder"
						@change="onPhoneChange"
						propname="phone"
						:validate="$v.phone"
						:showError="showError"
					></phone-input>
					<default-input
						:placeholder="compdata.input_email_placeholder"
						:mask="''"
						@change="onFieldChange"
						propname="email"
						:validate="$v.email"
						:showError="showError"
					></default-input>

					<div class="constrInputCaption">{{ compdata.input_text_title }}</div>

					<text-area
						@change="onFieldChange"
						propname="text"
						:placeholder="compdata.input_text_placeholder"
					></text-area>

					<button class="donationBtn" @click="onFormSend">
						<span class="ic-hand-1"></span> {{ compdata.btn_name }}
					</button>
				</div>
			</div>
		</div>
		<transition name="fade">
			<modal-success-message
				v-if="modalShown"
				@close="modalShown = false"
			></modal-success-message>
		</transition>
	</section>
</template>

<script>
import DefaultInput from "@/components/common/inputs/DefaultInput.vue";
import PhoneInput from "@/components/common/inputs/PhoneInput.vue";
import TextArea from "@/components/common/inputs/TextArea.vue";
import ModalSuccessMessage from "@/components/common/ModalSuccessMessage.vue";
import { required, minLength, email } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
export default {
	name: "LandFeedback",
	props: ["compdata"],
	components: {
		DefaultInput,
		PhoneInput,
		TextArea,
		ModalSuccessMessage,
	},
	data() {
		return {
			showError: false,

			name: "",
			companyName: "",
			email: "",
			phone: "",
			text: "",

			phoneLength: 0,

			sending: false,
			modalShown: false,
		};
	},
	validations() {
		return {
			name: {
				required,
				minLength: minLength(2),
			},
			companyName: {
				required,
				minLength: minLength(4),
			},
			email: {
				required,
				email,
			},
			phone: {
				required,
				minLength: minLength(this.phoneLength),
			},
			text: {},
		};
	},
	methods: {
		onFieldChange(e) {
			this[e.name] = e.value;
		},
		onPhoneChange(e) {
			this[e.name] = e.value;
			this.phoneLength = e.length;
		},
		onFormSend() {
			if (!this.sending) {
				this.sending = true;
				this.showError = true;
				if (!this.$v.$invalid) {
					this.axios
						.post("/api/request/feedback", {
							name: this.name,
							company: this.companyName,
							phone: this.phone,
							email: this.email,
							text: this.text,
							source: document.title,
							agent_id: localStorage.getItem("agentId") || "",
						})
						.then((response) => {
							this.modalShown = true;
							console.log(response);
							this.sending = false;
							window.dataLayer = window.dataLayer || [];
							window.dataLayer.push({
								event: "FormSend",
								"event-category":
									"Форма партнёрства лендинг 'Как стать донором'",
								"event-action": "",
							});
						})
						.catch((e) => {
							alert("Error! see console");
							console.log(e);
						});
				}
			}
		},
		getClass(c) {
			switch (c) {
				case "telegram":
					return "teleg";
				case "viber":
					return "viber";
				case "phone":
					return "phone";
			}
		},
	},
	computed: {
		...mapGetters(["getMesasngersT", "getSocials"]),
	},
};
</script>

<style lang="scss">
.landContactFormSection {
	background-color: #b6e8e8;
	padding: 80px 48px;
	@media (max-width: 1365px) {
		padding: 80px 24px;
	}
	@media (max-width: 1023px) {
		padding: 64px 16px;
	}
	position: relative;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0px;
		bottom: 0px;
		left: 0;
		right: 0;
		border-radius: 193px 0px 0 0px;
		background-color: #f2f2f2;
		@media (max-width: 1365px) {
			border-radius: 160px 0px 0 0px;
		}
		@media (max-width: 1023px) {
			border-radius: 0px 0px 0 0px;
		}
	}
	& > * {
		position: relative;
		z-index: 5;
	}
	.twoCol {
		display: flex;
		max-width: 1000px;
		margin: auto;
		@media (max-width: 1023px) {
			flex-direction: column;
			align-items: center;
		}
		.l {
			width: 50%;
			@media (max-width: 1023px) {
				width: 100%;
				max-width: 440px;
				text-align: center;
				margin-bottom: 32px;
			}
		}
		.r {
			width: 50%;
			@media (max-width: 1023px) {
				width: 100%;
				max-width: 440px;
			}
		}
	}
	.contCaption {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 26px;
		color: #000000;
		margin-bottom: 48px;
		@media (max-width: 1023px) {
			margin-bottom: 32px;
		}
	}
	.contLnk {
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 33px;
		color: #000000;
		display: block;
		margin-bottom: 16px;
		text-decoration: none;
		&:hover {
			color: #e10b17;
		}
	}
	.messagners {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 1023px) {
			justify-content: center;
		}
		a {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			color: #000000;
			margin-right: 16px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.contactFormWrp {
		max-width: 700px;
		margin: auto;
		.postNameItem {
			margin-top: 42px;
			text-decoration: none;
			display: block;
			.date {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 110%;
				color: #8e8e93;
			}
			p {
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 135%;
				text-decoration-line: underline;
				color: #8e8e93;
				margin: 8px 0 0;
			}
		}
		.constrFormIlustration {
			width: 100%;
			margin-top: 48px;
		}
		// .constrFormCaption{
		//     font-style: normal;
		//     font-weight: 600;
		//     font-size: 40px;
		//     line-height: 110%;
		//     color: #E10B17;
		//     &.centered{
		//         text-align: center;
		//     }
		// }
		.constrInputCaption {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 26px;
			color: #000000;
			margin: 8px 0 18px;
		}

		.inpputWrap + .constrInputCaption {
			margin-top: 34px;
		}

		.donationBtn {
			width: 100%;
			height: 64px;
			border-radius: 1px;
			text-align: center;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 150.3%;
			color: #ffffff;
			background-color: #e10b17;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			margin-top: 20px;
			transition: 0.3s ease;
			border: none;
			&:hover {
				background-color: #c4141d;
			}
			.ic-hand-1 {
				font-size: 32px;
				margin-right: 33px;
			}
		}
		.delim {
			height: 55px;
		}

		.formTxt {
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			margin: 16px 0;
			&.centered {
				text-align: center;
			}
		}
		.formTxt + .constrInputCaption {
			margin-top: 18px;
		}

		.messangerContactIlustration {
			img {
				display: block;
				margin: 48px auto 32px;
			}
		}

		.messangersLinks {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 124px;
			a {
				width: 335px;
				height: 64px;
				border-radius: 31px 0px 31px 31px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				color: #ffffff;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				position: relative;
				& + a {
					margin-top: 16px;
				}
				[class^="ic-"],
				[class*=" ic-"] {
					width: 44px;
					height: 44px;
					border-radius: 50%;
					background: #ffffff;
					position: absolute;
					top: 50%;
					left: 11px;
					transform: translate(0, -50%);
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 18px;
				}
			}
			.telegram {
				background: #37aee2;
				[class^="ic-"],
				[class*=" ic-"] {
					color: #37aee2;
				}
			}
			.viber {
				background: #7f4da0;
				[class^="ic-"],
				[class*=" ic-"] {
					color: #7f4da0;
				}
			}
			.phone {
				background: #f4a700;
				[class^="ic-"],
				[class*=" ic-"] {
					color: #f4a700;
				}
			}
		}
	}
}
</style>