<template>
	<section class="contactMap">
		<div class="topText">
			<div class="l">{{ compdata.title }}</div>
			<div class="r">{{ compdata.title2 }}</div>
		</div>
		<div class="twoCol1">
			<div class="l">
				<div class="mapWrap" ref="googleMap"></div>
			</div>
			<div class="r">
				<div
					v-for="(item, index) in compdata.list"
					:key="item.id"
					class="item"
					@click="onMarkerItemClick(index)"
				>
					<!-- <span class="arr"><span class="ic-arrow-long-left"></span></span> -->
					<router-link :to="{ path: item.url }" class="hd">{{
						item.city
					}}</router-link>
					<div class="bt">
						<div>
							<p>{{ item.address }}</p>
						</div>
						<div>
							<p v-for="duration in getSchedule(item.schedule)" :key="duration">
								{{ duration }}
							</p>
						</div>
						<div>
							<a
								v-if="item.request_link"
								:href="item.request_link"
								target="_blank"
								class="sign"
								>{{ compdata.btn_text1 }}</a
							>
						</div>
					</div>
				</div>
				<router-link
					:to="{
						name: 'plasmacenters',
						params: { locale: $i18n.locale == 'uk' ? null : $i18n.locale },
					}"
					class="more"
					>{{ compdata.btn_text2 }}</router-link
				>
			</div>
		</div>
	</section>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
	name: "ContactMap",
	props: ["compdata"],
	components: {},
	data() {
		return {
			mapConfig: {
				zoom: 6,
				center: { lat: 49.224154, lng: 31.505217 },
				language: "ja",
			},
			apiKey: "AIzaSyB_LTi9s98lZz5PpDXch8kJnEbYXI0awso",
			google: null,
			map: null,
			mapActive: false,
			pos: null,

			markers: [],
			windows: [],
		};
	},
	async mounted() {
		this.pos = this.offset(this.$refs.googleMap);
		this.pos.heidht = this.$refs.googleMap.offsetHeight;
		if (!this.checkPos()) document.addEventListener("scroll", this.onScroll);
		else {
			this.startMapLoading();
			this.mapActive = true;
		}
	},
	methods: {
		async startMapLoading() {
			console.log("Locale", this.$i18n.locale);

			const googleMapApi = await GoogleMapsApiLoader({
				apiKey: this.apiKey,
				language: this.$i18n.locale,
			});
			this.google = googleMapApi;
			console.log(googleMapApi);

			this.initializeMap();
		},
		initializeMap() {
			const mapContainer = this.$refs.googleMap;
			this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
			this.compdata.list.forEach((marker) => {
				let markerObj = new this.google.maps.Marker({
					position: { lat: +marker.coord_lat, lng: +marker.coord_lng },
					map: this.map,
					title: marker.city,
				});
				this.markers.push(markerObj);
			});
			this.compdata.list.forEach((item) => {
				let contentString = `<h2>${item.title}</h2>`;
				contentString += `<p><b>${this.$t("map.address")}: </b>${
					item.address
				}</p>`;
				contentString += `<p><b>${this.$t("map.schedule")}: </b>${
					item.schedule
				}</p>`;

				const window = new this.google.maps.InfoWindow({
					content: contentString,
				});
				this.windows.push(window);
			});
			this.markers.forEach((item, index) => {
				item.addListener("click", () => {
					this.windows.forEach((wind, winInd) => {
						if (index == winInd)
							wind.open({
								anchor: item,
								map: this.map,
								shouldFocus: true,
							});
						else wind.close();
					});
				});
			});
		},
		onMarkerItemClick(index) {
			let latLng = new this.google.maps.LatLng(
				this.compdata.list[index].coord_lat,
				this.compdata.list[index].coord_lng
			);
			this.setNewCenter(latLng, 16);
		},
		setNewCenter(latLng, zoom) {
			this.map.panTo(latLng);
			this.map.setZoom(zoom, 1000);
		},
		getSchedule(s) {
			let a = s || "";
			return a.split(",");
		},
		offset(el) {
			var rect = el.getBoundingClientRect(),
				scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
				scrollTop = window.pageYOffset || document.documentElement.scrollTop;
			return { top: rect.top + scrollTop, left: rect.left + scrollLeft };
		},
		checkPos() {
			if (
				this.pos.top < window.innerHeight + window.scrollY &&
				this.pos.top > window.scrollY - this.pos.heidht
			)
				return true;
			else return false;
		},
		onScroll() {
			if (this.checkPos()) {
				document.removeEventListener("scroll", this.onScroll);
				this.mapActive = true;
				this.startMapLoading();
			}
		},
	},
	destroyed() {
		document.removeEventListener("scroll", this.onScroll);
	},
};
</script>

<style lang="scss">
.contactMap {
	padding: 60px 110px;
	@media (max-width: 1599px) {
		padding: 60px 48px;
	}
	@media (max-width: 1365px) {
		padding: 60px 48px;
	}
	@media (max-width: 1199px) {
		padding: 60px 48px 130px;
	}
	@media (max-width: 1023px) {
		padding: 64px 48px 64px;
	}
	@media (max-width: 575px) {
		padding: 64px 16px 130px;
	}

	background: #f8f8f8;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #e5e5ea;
		border-top-right-radius: 193px;
		border-bottom-left-radius: 193px;
		z-index: 1;
		@media (max-width: 1365px) {
			border-top-right-radius: 160px;
			border-bottom-left-radius: 160px;
		}
		@media (max-width: 1023px) {
			border-radius: 0;
		}
	}
	& > * {
		position: relative;
		z-index: 5;
	}
	.topText {
		font-weight: 600;
		font-size: 86px;
		line-height: 110%;
		color: #aeaeb2;
		@media (max-width: 1599px) {
			font-size: 65px;
			padding: 0 48px;
		}
		@media (max-width: 1023px) {
			font-size: 55px;
			padding-left: 0;
			padding-right: 0;
		}
		@media (max-width: 767px) {
			font-size: 45px;
		}
		@media (max-width: 575px) {
			font-size: 40px;
		}
		@media (max-width: 575px) {
			font-size: 30px;
		}
		.l {
			text-align: left;
		}
		.r {
			text-align: right;
			@media (max-width: 1023px) {
				text-align: left;
			}
		}
	}
	.twoCol1 {
		margin-top: 60px;
		flex-direction: column;
		@media (max-width: 1023px) {
			margin-top: 32px;
		}
		.l {
			// padding-right: 50px;
			// @media (max-width: 1023px) {
			// 	padding-right: 0;
			// }
			.mapWrap {
				height: 555px;
				// max-width: 400px;
				background: rgb(150, 150, 150);
				@media (max-width: 1023px) {
					height: 356px;
					max-width: unset;
				}
				@media (max-width: 575px) {
					height: 268px;
				}
			}
		}
		.r {
			flex: unset;
			margin-top: 32px;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			.item {
				box-sizing: border-box;
				width: calc(50% - 30px);
				// width: 100%;
				flex-shrink: 0;
				display: flex;
				position: relative;
				// padding-left: 76px;
				flex-direction: column;
				padding-bottom: 24px;
				box-shadow: 0 1px 0 0 #c7c7cc;
				cursor: pointer;
				margin-top: 16px;
				@media (max-width: 1366px) {
					padding-left: 46px;
				}
				@media (max-width: 1199px) {
					padding-left: 0;
				}
				@media (max-width: 1023px) {
					width: 100%;
				}

				.arr {
					left: 0;
					top: 35px;
					position: absolute;
					@media (max-width: 1199px) {
						display: none;
					}
				}
				&:hover {
					.arr {
						color: #e10b17;
					}
					.hd {
						color: #e10b17;
					}
				}
				.hd {
					font-style: normal;
					font-weight: 600;
					font-size: 40px;
					line-height: 51px;
					color: #000000;
					transition: 0.3s ease;
					display: inline-block;
					@media (max-width: 1599px) {
						font-size: 32px;
					}
					@media (max-width: 575px) {
						font-size: 30px;
					}
				}
				.bt {
					margin-top: 8px;
					display: flex;
					flex-wrap: wrap;
					& > div {
						width: 33.33%;
						p {
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 18px;
							color: #000000;
							margin: 0;
						}
						a {
							display: block;
							border: 1px solid #8e8e93;
							padding: 16px 0;
							text-decoration: none;
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 18px;
							color: #000000;
							transition: 0.3s ease;
							white-space: nowrap;
							text-align: center;
							@media (max-width: 1199px) {
								padding: 16px 0;
							}
							&:hover {
								color: #fff;
								background: #e10b17;
								border-color: #e10b17;
							}
						}
					}
					& > div:nth-child(1),
					& > div:nth-child(2) {
						padding-right: 16px;
						box-sizing: border-box;
					}
					@media (max-width: 1199px) {
						& > div:nth-child(3) {
							width: 40%;
						}
						& > div:nth-child(2),
						& > div:nth-child(1) {
							width: 30%;
						}
					}
					@media (max-width: 575px) {
						& > div:nth-child(1) {
							width: 100%;
							margin-bottom: 10px;
						}
						& > div:nth-child(2) {
							width: 50%;
						}
						& > div:nth-child(3) {
							width: 100%;
							margin-top: 10px;
						}
					}
				}
			}
			.more {
				box-sizing: border-box;
				width: calc(50% - 35px);
				border: 1px solid #8e8e93;
				padding: 16px;
				margin-top: 16px;
				text-decoration: none;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
				transition: 0.3s ease;
				text-align: center;
				align-self: flex-end;
				@media (max-width: 1023px) {
					width: 100%;
				}
				&:hover {
					color: #fff;
					background: #e10b17;
					border-color: #e10b17;
				}
			}
		}
	}
}
</style>