.articleWrp {

    .videoWrp {
        iframe {
            width: 100%;
        }
    }

    .mapWrp {
        height: 756px;
        margin: 16px 0;

        @media (max-width: 1599px) {
            height: 440px;
        }
    }

    @mixin articlePadding {
        margin-left: 60px;
        margin-right: 60px;

        @media (max-width: 1599px) {
            margin-left: 0;
            margin-right: 0;
        }

        @media (max-width: 1199px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .defWrp {
        @include articlePadding;
    }

    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #aeaeb2;
        margin: 48px 0 16px;

        @media (max-width: 1199px) {
            font-size: 32px;
            line-height: 120%;
        }

        @media (max-width: 575px) {
            font-size: 28px;
            line-height: 120%;
        }
    }

    &>h2 {
        @include articlePadding;
    }

    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: #aeaeb2;
        margin: 32px 0 16px;

        @media (max-width: 1199px) {
            font-size: 26px;
            line-height: 120%;
        }

        @media (max-width: 575px) {
            font-size: 24px;
            line-height: 120%;
        }
    }

    &>h3 {
        @include articlePadding;
    }

    h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        color: #aeaeb2;
        margin-top: 24px 0 16px;

        @media (max-width: 1199px) {
            font-size: 20px;
            line-height: 120%;
        }

        // @media (max-width: 575px) {
        //     font-size: 24px;
        //     line-height: 120%;
        // }
    }

    &>h4 {
        @include articlePadding;
    }

    p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #262628;
        margin: 16px 0;

        b {
            font-weight: 700;
        }

        a {
            color: #262628;

            &:hover {
                color: #e10b17;
            }
        }
    }

    &>p {
        @include articlePadding;
    }

	.table-container{
		overflow: hidden;
		overflow-x: auto;
		table {
			width: 100%;
			table-layout: fixed;
			overflow-x: auto;
			@media (max-width: 1000px) {
				table-layout: unset;
				max-width: 100%;
			}
			tr {
				td {
					padding: 16px 0;
					text-align: left;
					width: 1%;
					padding-right: 60px;
					@media (max-width: 1000px) {
						padding-right: 24px;
						min-width: 150px;
						width: unset;
					}
				}
	
				&+tr {
					box-shadow: inset 0px 1px 0px #AEAEB2;
				}
			}
		}
	}

    ol {
        list-style: none;
        counter-reset: olcounter;
        padding: 0;

        li {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            color: #262628;
            margin: 16px 0;
            margin-left: 32px;
            position: relative;
            counter-increment: olcounter;

            &::before {
                content: counter(olcounter) ".";
                position: absolute;
                top: -1px;
                left: -30px;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #000000;
            }

            &>p {
                margin: 6px 0;

                &+p {
                    margin-top: 16px;
                }
            }
        }
    }

    &>ol {
        @include articlePadding;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            color: #262628;
            margin: 16px 0;
            margin-left: 32px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 7px;
                left: -30px;
                background: #f4a700;
                width: 10px;
                height: 10px;
            }

            &>p {
                margin: 6px 0;

                &+p {
                    margin-top: 16px;
                }
            }
        }

        ol>li:before {
            content: counter(olcounter) ".";
            position: absolute;
            top: -1px;
            left: -30px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #000000;
            background-color: transparent;
        }
    }

    &>ul {
        @include articlePadding;
    }

    .twoColGroup {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        padding: 24px 32px 32px;
        box-shadow: 0 0 0 1px inset #aeaeb2;

        @media (max-width: 1599px) {
            margin-left: 0;
            margin-right: 0;
        }

        @media (max-width: 1199px) {
            max-width: 700px;
            box-sizing: border-box;
            margin: 16px auto;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 24px 16px 32px;
        }

        .l {
            width: calc(192px + 48px);
            flex-shrink: 0;
            padding-right: 48px;

            @media (max-width: 575px) {
                width: 100%;
            }
        }

        .r {
            flex-grow: 1;
        }
    }

    .signBtnWrp {
        display: flex;
        margin: 16px 0;
        @include articlePadding;

        .signBtn {
            height: 50px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color: #000000;
            box-shadow: 0 0 0 1px inset #aeaeb2;
            padding: 0 16px;
            border: none;
            background-color: #f8f8f8;
            cursor: pointer;
            text-decoration: none;
            transition: 0.3s ease;

            .ic-arrow-long-left {
                font-size: 15px;
                margin-right: 8px;
            }

            &:hover {
                background-color: #e10b17;
                box-shadow: 0 0 0 1px #e10b17;
                color: #fff;
            }
        }
    }

    .fullWidthImg {
        margin: 32px 0 16px;

        img {
            width: 100%;
        }
    }

    .faqComponent {
        margin: 34px 0 16px;
        @include articlePadding;

        .item {
            box-shadow: 0 1px 0 0 #aeaeb2;

            .hd {
                position: relative;
                padding: 16px 30px 16px 0;
                cursor: pointer;

                .caption {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 160%;
                    color: #262628;
                    margin: 0;
                }

                .ic-close-square {
                    position: absolute;
                    top: 22px;
                    right: 0;
                    transform: rotate(45deg);
                    cursor: pointer;
                }

                &:hover {

                    .caption,
                    .ic-close-square {
                        color: #e10b17;
                    }
                }
            }
			.body{
				padding: 1px 0;
			}

            &.opened {
                padding-bottom: 16px;

                .hd {
                    .ic-close-square {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }


    .repostWrp {
        @include articlePadding;
        margin-top: 96px;
    }

    // .inpputWrap {
    // 	background-color: #f8f8f8;
    // 	box-shadow: 0 0 0 1px #aeaeb2;
    // 	margin: 16px 0;
    // 	input {
    // 		height: 64px;
    // 		padding: 0 24px;
    // 		width: 100%;
    // 		font-style: normal;
    // 		font-weight: 600;
    // 		font-size: 14px;
    // 		line-height: 18px;
    // 		color: #000000;
    // 		border: none;
    // 		box-sizing: border-box;
    // 	}
    // }
    .inpputWrap+.constrInputCaption {
        margin-top: 34px;
    }

    // .phoneInputWrap {
    // 	background-color: #f8f8f8;
    // 	box-shadow: 0 0 0 1px #aeaeb2;
    // 	margin: 16px 0;
    // 	display: flex;
    // 	.phonePicker {
    // 		width: 84px;
    // 		flex-shrink: 0;
    // 		display: flex;
    // 		justify-content: center;
    // 		align-items: center;
    // 		box-shadow: -1px 0 0 0px inset #aeaeb2;
    // 		.ic-triangle-down {
    // 			font-size: 6px;
    // 			margin-left: 16px;
    // 			color: #aeaeb2;
    // 		}
    // 	}
    // 	input {
    // 		height: 64px;
    // 		padding: 0 24px;
    // 		width: 100%;
    // 		font-style: normal;
    // 		font-weight: 600;
    // 		font-size: 14px;
    // 		line-height: 18px;
    // 		color: #000000;
    // 		border: none;
    // 		box-sizing: border-box;
    // 	}
    // }

    .donationBtn {
        width: 100%;
        height: 64px;
        border-radius: 1px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150.3%;
        color: #ffffff;
        background-color: #e10b17;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 20px;
        transition: 0.3s ease;
        border: none;

        &:hover {
            background-color: #c4141d;
        }

        .ic-hand-1 {
            font-size: 32px;
            margin-right: 33px;
        }
    }

    // .textAreaWrap {
    // 	background-color: #f8f8f8;
    // 	box-shadow: 0 0 0 1px #aeaeb2;
    // 	margin: 16px 0;
    // 	textarea {
    // 		display: block;
    // 		height: 64px;
    // 		padding: 16px 24px;
    // 		width: 100%;
    // 		font-style: normal;
    // 		font-weight: 600;
    // 		font-size: 14px;
    // 		line-height: 18px;
    // 		color: #000000;
    // 		border: none;
    // 		box-sizing: border-box;
    // 		resize: vertical;
    // 		min-height: 117px;
    // 	}
    // }

    // .delim {
    // 	height: 55px;
    // }
    .constrInputCaption {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        margin: 8px 0 18px;
    }

    .constrFormTxt {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin: 16px 0;

        &.centered {
            text-align: center;
        }
    }

    .constrFormTxt+.constrInputCaption {
        margin-top: 18px;
    }
}
