@font-face {
    font-family: 'biopharma';
    src: url('./assets/icofont/biopharma.eot?pa31oi');
    src: url('./assets/icofont/biopharma.eot?pa31oi#iefix') format('embedded-opentype'),
        url('./assets/icofont/biopharma.woff2?pa31oi') format('woff2'),
        url('./assets/icofont/biopharma.ttf?pa31oi') format('truetype'),
        url('./assets/icofont/biopharma.woff?pa31oi') format('woff'),
        url('./assets/icofont/biopharma.svg?pa31oi#biopharma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin ic {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'biopharma' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"],
[class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'biopharma' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-quote:before {
    content: "\e927";
}

.ic-pause:before {
    content: "\e925";
}

.ic-play-icon:before {
    content: "\e926";
}

.ic-home:before {
    content: "\e924";
}

.ic-posts:before {
    content: "\e922";
}

.ic-wave:before {
    content: "\e923";
}

.ic-owlweb:before {
    content: "\e921";
}

.ic-download-cloud:before {
    content: "\e920";
}

.ic-mail:before {
    content: "\e91d";
}

.ic-marker:before {
    content: "\e91e";
}

.ic-time:before {
    content: "\e91f";
}

.ic-lupa:before {
    content: "\e91c";
}

.ic-menu-burger:before {
    content: "\e91b";
}

.ic-arrow-long-left:before {
    content: "\e900";
}

.ic-arrow-long-rigth:before {
    content: "\e901";
}

.ic-arrow-short-left:before {
    content: "\e902";
}

.ic-arrow-short-rigth:before {
    content: "\e903";
}

.ic-ask-icon:before {
    content: "\e904";
}

.ic-b-logo:before {
    content: "\e905";
}

.ic-close-rounded:before {
    content: "\e906";
}

.ic-close-square:before {
    content: "\e907";
}

.ic-curved-arrow:before {
    content: "\e908";
}

.ic-dots:before {
    content: "\e909";
}

.ic-drop:before {
    content: "\e90a";
}

.ic-facebook:before {
    content: "\e90b";
}

.ic-hand-1:before {
    content: "\e90c";
}

.ic-instagram:before {
    content: "\e90d";
}

.ic-phone:before {
    content: "\e90e";
}

.ic-play:before {
    content: "\e90f";
}

.ic-plus:before {
    content: "\e910";
}

.ic-question:before {
    content: "\e911";
}

.ic-share:before {
    content: "\e912";
}

.ic-shevron-left:before {
    content: "\e913";
}

.ic-shevron-right:before {
    content: "\e914";
}

.ic-telegram:before {
    content: "\e915";
}

.ic-triangle-down:before {
    content: "\e916";
}

.ic-twitter:before {
    content: "\e917";
}

.ic-user:before {
    content: "\e918";
}

.ic-viber:before {
    content: "\e919";
}

.ic-youtube:before {
    content: "\e91a";
}
