@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../scss/normalize.css";
@import "../scss/Mont.scss";
* {
	font-family: "Mont", Arial, sans-serif;
}
.homeMain {
	flex-grow: 1;
}
.twoCol1 {
	display: flex;
	@media (max-width: 1023px) {
		flex-direction: column;
	}
	.l {
		flex-grow: 1;
	}
	.r {
		flex: 0 0 668px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 1199px) {
			flex: 0 0 500px;
		}
		@media (max-width: 1023px) {
			flex: unset;
			margin-top: 60px;
		}
	}
}
.dotarionBrnTitle {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	color: #aeaeb2;
	margin-top: 40px;
}
.donationBtn {
	// max-width: 400px;
	margin: 24px 0;
	height: 64px;
	border-radius: 1px;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150.3%;
	color: #ffffff;
	background-color: #e10b17;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-top: 20px;
	transition: 0.3s ease;
	width: 100%;

	&:hover {
		background-color: #c4141d;
	}
	.ic-hand-1 {
		font-size: 32px;
		margin-right: 33px;
	}
}
.tagsField {
	// position: relative;
	margin-top: 32px;
	padding-top: 33px;
	display: flex;
	flex-wrap: wrap;
	// &:before{
	//     content: "";
	//     position: absolute;
	//     top: 0;
	//     left: 0;
	//     width: 100%;
	//     height: 1px;
	//     background-color: #AEAEB2;
	// }
	@media (max-width: 576px) {
		display: none;
	}
	.tagItem {
		margin: 0 8px 8px 0;
		height: 66px;
		padding: 0 24px;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #262628;
		box-shadow: 0 0 0 1px inset #aeaeb2;
		text-decoration: none;
		display: flex;
		align-items: center;
		transition: 0.3s ease;
		text-align: center;
		@media (max-width: 575px) {
			margin: 0 0 8px;
			width: 100%;
			justify-content: center;
		}
		&:hover {
			background: #e10b17;
			box-shadow: 0 0 0 1px inset #e10b17;
			color: #fff;
		}
	}
}
.topHd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 8px;
	.backBtn {
		height: 63px;
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 15px;
		line-height: 19px;
		color: #000000;
		box-shadow: 0 0 0 1px #aeaeb2;
		padding: 0 16px;
		border: none;
		background-color: #f8f8f8;
		cursor: pointer;
		transition: 0.3s ease;
		text-decoration: none;
		.ic-arrow-long-left {
			font-size: 15px;
			margin-right: 8px;
		}
		&:hover {
			background-color: #e10b17;
			box-shadow: 0 0 0 1px #e10b17;
			color: #fff;
		}
	}
	.ph {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: -0.065em;
		text-transform: uppercase;
		color: #000000;
		text-decoration: none;
		@media (max-width: 575px) {
			display: none;
		}
	}
}
.messangerContactIlustration {
	img {
		display: block;
		margin: 48px auto 32px;
	}
}
.constrFormTxt {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	color: #000000;
	margin: 16px 0;
	&.centered {
		text-align: center;
	}
}
.constrFormTxt + .constrInputCaption {
	margin-top: 18px;
}
.constrMessangersLinks {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	// padding-bottom: 124px;
	a {
		max-width: calc(100%);
		width: 335px;
		height: 64px;
		border-radius: 31px 0px 31px 31px;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		position: relative;
		& + a {
			margin-top: 16px;
		}
		[class^="ic-"],
		[class*=" ic-"] {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background: #ffffff;
			position: absolute;
			top: 50%;
			left: 11px;
			transform: translate(0, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
		}
	}
	.telegram {
		background: #37aee2;
		[class^="ic-"],
		[class*=" ic-"] {
			color: #37aee2;
		}
	}
	.viber {
		background: #7f4da0;
		[class^="ic-"],
		[class*=" ic-"] {
			color: #7f4da0;
		}
	}
	.phone {
		background: #f4a700;
		[class^="ic-"],
		[class*=" ic-"] {
			color: #f4a700;
		}
	}
}
.constrFormCaption{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #E10B17;
    &.centered{
        text-align: center;
    }
}