@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Black.eot');
    src: local('Mont Black'),
        url('../assets/font/Mont-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Black.woff2') format('woff2'),
        url('../assets/font/Mont-Black.woff') format('woff'),
        url('../assets/font/Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-ThinItalic.eot');
    src: local('Mont Thin Italic'),
        url('../assets/font/Mont-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-ThinItalic.woff2') format('woff2'),
        url('../assets/font/Mont-ThinItalic.woff') format('woff'),
        url('../assets/font/Mont-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-ExtraLight.eot');
    src: local('Mont ExtraLight'),
        url('../assets/font/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-ExtraLight.woff2') format('woff2'),
        url('../assets/font/Mont-ExtraLight.woff') format('woff'),
        url('../assets/font/Mont-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Bold.eot');
    src: local('Mont Bold'),
        url('../assets/font/Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Bold.woff2') format('woff2'),
        url('../assets/font/Mont-Bold.woff') format('woff'),
        url('../assets/font/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-HeavyItalic.eot');
    src: local('Mont Heavy Italic'),
        url('../assets/font/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-HeavyItalic.woff2') format('woff2'),
        url('../assets/font/Mont-HeavyItalic.woff') format('woff'),
        url('../assets/font/Mont-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-BlackItalic.eot');
    src: local('Mont Black Italic'),
        url('../assets/font/Mont-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-BlackItalic.woff2') format('woff2'),
        url('../assets/font/Mont-BlackItalic.woff') format('woff'),
        url('../assets/font/Mont-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-ExtraLightItalic.eot');
    src: local('Mont ExtraLight Italic'),
        url('../assets/font/Mont-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/font/Mont-ExtraLightItalic.woff') format('woff'),
        url('../assets/font/Mont-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Heavy.eot');
    src: local('Mont Heavy'),
        url('../assets/font/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Heavy.woff2') format('woff2'),
        url('../assets/font/Mont-Heavy.woff') format('woff'),
        url('../assets/font/Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-SemiBold.eot');
    src: local('Mont SemiBold'),
        url('../assets/font/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-SemiBold.woff2') format('woff2'),
        url('../assets/font/Mont-SemiBold.woff') format('woff'),
        url('../assets/font/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-RegularItalic.eot');
    src: local('Mont Regular Italic'),
        url('../assets/font/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-RegularItalic.woff2') format('woff2'),
        url('../assets/font/Mont-RegularItalic.woff') format('woff'),
        url('../assets/font/Mont-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-BoldItalic.eot');
    src: local('Mont Bold Italic'),
        url('../assets/font/Mont-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-BoldItalic.woff2') format('woff2'),
        url('../assets/font/Mont-BoldItalic.woff') format('woff'),
        url('../assets/font/Mont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-SemiBoldItalic.eot');
    src: local('Mont SemiBold Italic'),
        url('../assets/font/Mont-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/font/Mont-SemiBoldItalic.woff') format('woff'),
        url('../assets/font/Mont-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-LightItalic.eot');
    src: local('Mont Light Italic'),
        url('../assets/font/Mont-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-LightItalic.woff2') format('woff2'),
        url('../assets/font/Mont-LightItalic.woff') format('woff'),
        url('../assets/font/Mont-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Thin.eot');
    src: local('Mont Thin'),
        url('../assets/font/Mont-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Thin.woff2') format('woff2'),
        url('../assets/font/Mont-Thin.woff') format('woff'),
        url('../assets/font/Mont-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Regular.eot');
    src: local('Mont Regular'),
        url('../assets/font/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Regular.woff2') format('woff2'),
        url('../assets/font/Mont-Regular.woff') format('woff'),
        url('../assets/font/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/font/Mont-Light.eot');
    src: local('Mont Light'),
        url('../assets/font/Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Mont-Light.woff2') format('woff2'),
        url('../assets/font/Mont-Light.woff') format('woff'),
        url('../assets/font/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

