<template>
	<div class="siteMenu">
		<div class="left">
			<div class="hd">
				<div class="lang">
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'ru' }"
						:to="{ name: this.$route.name, params: ruLocaleParam }"
						>ру</router-link
					>
					<span> | </span>
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'uk' }"
						:to="{ name: this.$route.name, params: uaLocaleParam }"
						>укр</router-link
					>
					<span> | </span>
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'en' }"
						:to="{ name: this.$route.name, params: enLocaleParam }"
						>en</router-link
					>
				</div>
				<!-- <div class="auth">
					<a href="#">Вхід</a>
					<a href="#">Реєстрація</a>
				</div> -->
			</div>
			<div class="mainLinks">
				<a
					href="#"
					v-for="(item, index) in burgerMenu"
					:key="index"
					:class="{ active: currentMenuItem == index }"
					@click.prevent="onMainLinkKlick(item, index)"
				>
					<span class="ic-arrow-short-rigth"></span>
					<span class="txt">{{ item.name }}</span>
					<span v-if="item.children" class="ic-plus"></span>
				</a>
			</div>
		</div>
		<div class="right">
			<div class="hd">
				<a :href="$store.getters.formLnk" target="_blank" class="donationSign"
					>{{$t('singtodonation')}}</a
				>
				<span
					class="ic-close-rounded"
					@click.prevent="$emit('close')"
				></span>
			</div>
			<div class="secondaryLnks">
				<router-link
					v-for="(item, index) in burgerMenu[currentMenuItem].children"
					:key="index"
					:to="item.url"
					@click.native="$emit('close')"
				>
					{{ item.name }}
					<span class="ic-arrow-short-rigth"></span>
				</router-link>
			</div>
		</div>
		<div class="bot">
			<div class="socLinks">
				<template v-for="(item, index) in getSocials">
					<a v-if="item.url" :key="index" :href="item.url" target="_blank">{{
						item.type
					}}</a>
				</template>
			</div>
			<div class="messangersLinks">
				<a
					v-for="(item, index) in getMesasngersT"
					:key="index"
					:href="item.url"
					target="_blank"
					:class="getClass(item.type)"
					><span :class="`ic-${item.type}`"></span
				></a>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import { Bus } from "@/main.js";
import { rtParams } from "@/utils.js";
export default {
	// props: ['compdata'],
	data() {
		return {
			currentMenuItem: 0,
		};
	},
	methods: {
		onMainLinkKlick(item, index) {
			if (!item.children) {
				this.$router.push({ path: item.url });
				this.$emit("onmenustatechange");
			} else {
				this.currentMenuItem = index;
			}
		},
		onDocClick(e) {
			if (
				!(
					e.target.classList.contains("siteMenu") ||
					e.target.closest(".siteMenu")
				)
			)
				this.$emit("onmenustatechange");
		},
		langChange() {
			this.loadMenu();
			setTimeout(() => {
				Bus.$emit("langChange");
			}, 500);
		},
		loadMenu() {
			this.axios
				.post("/api/menu/get-by-ids", {
					ids: [164],
					lang: this.$i18n.locale,
				})
				.then((response) => {
					this.$store.commit("storeBurgerMenu", response.data.data[164].items);
				});
		},
		getClass(c) {
			switch (c) {
				case "telegram":
					return "teleg";
				case "viber":
					return "viber";
				case "phone":
					return "phone";
			}
		},
	},
	computed: {
		...mapGetters(["getMesasngersT", "getSocials", "burgerMenu"]),
		...rtParams,
	},
	mounted() {
		setTimeout(() => {
			document.addEventListener("click", this.onDocClick);
			Bus.$on("langChange", this.loadMenu);
		}, 100);
	},
	destroyed() {
		document.removeEventListener("click", this.onDocClick);
	},
};
</script>

<style lang="scss">
.siteMenu {
	display: flex;
	// display: none;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 800px;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
	&.activeTemp {
		display: flex;
	}
	.left {
		width: 50%;
		height: calc(100% - 66px);
		box-shadow: 1px 0px 0 0 #8e8e93;
		.hd {
			height: 66px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 24px;
			.lang {
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
				margin-top: 24px;
				a {
					color: rgba(0, 0, 0, 1);
					text-decoration: none;
					&.active {
						color: rgba(0, 0, 0, 0.4);
						pointer-events: none;
					}
					&:hover {
						color: #e10b17;
						&.active {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}
			}
			.auth {
				a {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					color: #000000;
					text-decoration: none;
					& + a {
						margin-left: 16px;
					}
					&:hover {
						color: #e10b17;
					}
				}
			}
		}
		.mainLinks {
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			a {
				display: flex;
				align-items: center;
				height: 54px;
				font-style: normal;
				font-weight: 600;
				font-size: 34px;
				line-height: 46px;
				letter-spacing: -0.03em;
				color: #aeaeb2;
				text-decoration: none;
				padding-left: 24px;
				padding-right: 35px;
				position: relative;
				.ic-plus {
					font-size: 17px;
					position: absolute;
					top: 50%;
					right: 13px;
					transform: translate(0, -50%);
					transition: 0.3s ease;
				}
				.ic-arrow-short-rigth {
					font-size: 16px;
					vertical-align: middle;
					margin-right: 24px;
					transition: 0.3s ease;
				}
				.txt {
					transition: 0.3s ease;
				}
				&:hover {
					.txt {
						transform: translate(-30px, 0);
					}
					.ic-arrow-short-rigth {
						opacity: 0;
					}
				}
				&.active {
					background-color: #f4a700;
					color: #fff;
					.txt {
						transform: translate(-30px, 0);
					}
					.ic-arrow-short-rigth {
						opacity: 0;
					}
					.ic-plus {
						opacity: 0;
					}
				}
			}
		}
	}
	.right {
		width: 50%;
		height: calc(100% - 66px);
		.hd {
			height: 66px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 8px 0 24px;
			.donationSign {
				height: 50px;
				box-shadow: 0 0 0 1px inset #8e8e93;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 16px;
				text-decoration: none;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
				margin-right: 10px;
			}
			.ic-close-rounded {
				width: 46px;
				height: 46px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
		}
		.secondaryLnks {
			margin-top: 32px;
			a {
				display: flex;
				justify-content: space-between;
				padding: 8px 24px;
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 23px;
				letter-spacing: -0.03em;
				color: #000000;
				box-sizing: border-box;
				text-decoration: none;
				transition: 0.3s ease;
				.ic-arrow-short-rigth {
					opacity: 0;
					transition: 0.3s ease;
				}
				&:hover {
					color: #f4a700;
					.ic-arrow-short-rigth {
						opacity: 1;
						transform: translate(10px, 0);
					}
				}
			}
		}
	}
	.bot {
		width: 100%;
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px 0 40px;
		box-shadow: 0 -1px 0 0 #8e8e93;
		.socLinks {
			display: flex;
			a {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #1a1a1a;
				text-decoration: none;
				& + a {
					margin-left: 16px;
				}
				&:hover {
					color: #e10b17;
				}
			}
		}
		.messangersLinks {
			display: flex;
			a {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border-top-right-radius: 0;
				border: 1px solid #000;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				margin: 0 4px;
			}
			.teleg {
				font-size: 16px;
				color: #37aee2;
				border-color: #37aee2;
				&:hover {
					background-color: #37aee2;
					color: #fff;
				}
			}
			.viber {
				font-size: 18px;
				color: #7f4da0;
				border-color: #7f4da0;
				&:hover {
					background-color: #7f4da0;
					color: #fff;
				}
			}
			.phone {
				font-size: 18px;
				color: #f4a700;
				border-color: #f4a700;
				&:hover {
					background-color: #f4a700;
					color: #fff;
				}
			}
		}
	}
}
</style>