<template>
	<div class="siteMenuMob mob">
		<div class="mainMob">
			<div class="hd">
				<div class="lang">
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'ru' }"
						:to="{ name: this.$route.name, params: { locale: 'ru' } }"
						>ру</router-link
					>
					<span> | </span>
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'uk' }"
						:to="{ name: this.$route.name, params: { locale: '' } }"
						>укр</router-link
					>
					<span> | </span>
					<router-link
						@click.native="langChange"
						:class="{ active: $i18n.locale == 'en' }"
						:to="{ name: this.$route.name, params: { locale: 'en' } }"
						>en</router-link
					>
				</div>
				<!-- <div class="auth">
					<a href="#">Вхід</a>
					<a href="#">Реєстрація</a>
				</div> -->
				<span
					class="ic-close-rounded"
					@click.prevent="$emit('onmenustatechange')"
				></span>
			</div>
			<div class="mainLinks">
				<div class="linkGroup" v-for="(item, index) in burgerMenu" :key="index">
					<template v-if="item.children">
						<span
							@click.prevent="onMainLinkKlick(item, index)"
							class="mlnk"
							:class="{ active: currentMenuItem == index }"
							>{{ item.name }}
							<span
								v-if="item.children && currentMenuItem != index"
								class="ic-plus"
							></span>
							<span
								v-if="currentMenuItem == index"
								class="ic-close-rounded"
							></span>
						</span>
					</template>
					<template v-else>
						<router-link
							:to="{ path: item.url }"
							class="mlnk"
							:class="{ active: currentMenuItem == index }"
							@click.native="$emit('onmenustatechange')"
							>{{ item.name }}
							<span
								v-if="item.children && currentMenuItem != index"
								class="ic-plus"
							></span>
							<span
								v-if="currentMenuItem == index"
								class="ic-close-rounded"
							></span>
						</router-link>
					</template>
					<div
						class="secondLinksGroup"
						v-if="item.children && currentMenuItem == index"
					>
						<router-link
							:to="{ path: subItem.url }"
							v-for="(subItem, subIndex) in burgerMenu[currentMenuItem]
								.children"
							:key="subIndex"
							@click.native="$emit('onmenustatechange')"
							>{{ subItem.name }} <span class="ic-arrow-short-rigth"></span>
						</router-link>
					</div>
				</div>
			</div>
		</div>
		<div class="bot">
			<div class="socLinks">
				<template v-for="(item, index) in getSocials">
					<a
						v-if="item.url"
						:key="index"
						:href="item.url"
						target="_blank"
						>{{ item.type }}</a
					>
				</template>
			</div>
			<div class="messangersLinks">
				<a
					v-for="(item, index) in getMesasngersT"
					:key="index"
					:href="item.url"
					target="_blank"
					:class="getClass(item.type)"
					><span :class="`ic-${item.type}`"></span
				></a>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import { Bus } from "@/main.js";
export default {
	components: {},
	// props: ["compdata"],
	data() {
		return {
			currentMenuItem: 0,
		};
	},
	methods: {
		onMainLinkKlick(item, index) {
			if (!item.children) {
				this.$router.push({ path: "map" });
			} else {
				if (this.currentMenuItem == index) this.currentMenuItem = null;
				else this.currentMenuItem = index;
			}
		},
		langChange() {
			this.loadMenu();
			setTimeout(() => {
				Bus.$emit("langChange");
			}, 500);
		},
		loadMenu(){
			this.axios
				.post("/api/menu/get-by-ids", {
					ids: [164],
					lang: this.$i18n.locale,
				})
				.then((response) => {
					this.$store.commit("storeBurgerMenu", response.data.data[164].items);
				});
		},
		getClass(c) {
			switch (c) {
				case "telegram":
					return "teleg";
				case "viber":
					return "viber";
				case "phone":
					return "phone";
			}
		},
		mounted () {
			setTimeout(() => {
				Bus.$on('langChange', this.loadMenu);
			}, 100);
		},
	},
	computed: {
		...mapGetters(["getMesasngersT", "getSocials", "burgerMenu"]),
	},
};
</script>

<style lang="scss">
.siteMenuMob {
	display: flex;
	// display: none;
	position: fixed;
	flex-direction: column;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;
	&.activeTemp {
		display: flex;
	}
	.mainMob {
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 152px);
		.hd {
			height: 66px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0px 0 24px;
			box-shadow: inset 0px -1px 0px #8e8e93;
			.lang {
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
				margin-top: 24px;
				a {
					color: rgba(0, 0, 0, 1);
					text-decoration: none;
					&.active {
						color: rgba(0, 0, 0, 0.4);
						pointer-events: none;
					}
					&:hover {
						color: #e10b17;
						&.active {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}
			}
			.auth {
				a {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					color: #000000;
					text-decoration: none;
					& + a {
						margin-left: 16px;
					}
					&:hover {
						color: #e10b17;
					}
				}
			}
			.ic-close-rounded {
				width: 56px;
				height: 64px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 10px;
			}
		}
		.mainLinks {
			flex: 1 1 auto;
			overflow-y: auto;
			min-height: 0px;
			margin-top: 16px;
			.linkGroup {
				.mlnk {
					display: block;
					padding: 8px 64px 8px 16px;
					font-style: normal;
					font-weight: 600;
					font-size: 26px;
					line-height: 33px;
					letter-spacing: -0.03em;
					color: #000;
					position: relative;
					text-decoration: none;
					&.active {
						color: #ffffff;
						background: #f4a700;
					}
					.ic-close-rounded {
						top: 50%;
						right: 16px;
						transform: translate(0, -50%);
						width: 24px;
						height: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 14px;
						color: #fff;
						position: absolute;
					}
					.ic-plus {
						font-size: 18px;
						width: 24px;
						height: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						right: 16px;
						top: 50%;
						transform: translate(0, -50%);
					}
				}
				.secondLinksGroup {
					padding-bottom: 12px;
					a {
						display: block;
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 23px;
						letter-spacing: -0.03em;
						color: #000000;
						padding: 10px 50px 10px 32px;
						text-decoration: none;
						transition: 0.3s ease;
						position: relative;
						.ic-arrow-short-rigth {
							position: absolute;
							top: 50%;
							right: 32px;
							transform: translate(0, -50%);
							opacity: 0;
							transition: 0.3s ease;
						}
						&:hover {
							color: #f4a700;
							.ic-arrow-short-rigth {
								right: 16px;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	.bot {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 16px 0;
		box-shadow: 0 -1px 0 0 #8e8e93;
		.socLinks {
			display: flex;
			padding: 16px 0;
			a {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #1a1a1a;
				text-decoration: none;
				& + a {
					margin-left: 16px;
				}
				&:hover {
					color: #e10b17;
				}
			}
		}
		.messangersLinks {
			display: flex;
			margin-top: 16px;
			a {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border-top-right-radius: 0;
				border: 1px solid #000;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				margin: 0 4px;
			}
			.teleg {
				font-size: 16px;
				color: #37aee2;
				border-color: #37aee2;
				&:hover {
					background-color: #37aee2;
					color: #fff;
				}
			}
			.viber {
				font-size: 18px;
				color: #7f4da0;
				border-color: #7f4da0;
				&:hover {
					background-color: #7f4da0;
					color: #fff;
				}
			}
			.phone {
				font-size: 18px;
				color: #f4a700;
				border-color: #f4a700;
				&:hover {
					background-color: #f4a700;
					color: #fff;
				}
			}
		}
	}
}
</style>