<template>
	<div class="modalSuccess" @click.stop="$emit('close')">
		<div class="modalBody">
			<div class="topSide">
				<span class="ic-close-rounded" @click="$emit('close')"></span>
				<img class="img" :src="require('@/assets/img/Group 876.svg')" :alt="require('@/assets/img/Group 876.svg')">
				<div class="caption">Дякуємо!</div>
				<p class="txt">Ваше звернення успішно відправлено. Чекайте на дзвінок від  менеджеру відділу співпраці</p>
				<div class="schedule">
					<div>Робочий час відділу:</div>
					<div>Пн.- Пт. : 09:00-18:00</div>
				</div>
			</div>
			<div class="botSide">
				<div class="socLinks">
					<a v-for="(item, index) in getSocials" :key="index" :href="item.url" target="_blank">{{item.type}}</a>
				</div>
				<div class="messangersLinks">
					<a v-for="(item, index) in getMesasngersT" :key="index" :href="item.url" target="_blank" :class="getClass(item.type)"><span :class="`ic-${item.type}`"></span></a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
	methods: {
		getClass(c){
			switch (c) {
				case 'telegram':
					return'teleg'
				case 'viber':
					return'viber'
				case 'phone':
					return'phone'
			}
		}
	},
	computed: {
		...mapGetters([
			'getMesasngersT',
			'getSocials',
		])
	},
	mounted () {
		
	},
}
</script>

<style lang="scss" scoped>
.modalSuccess{
	background: rgba(0, 0, 0, 0.12);
	position: fixed;
	z-index: 100;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.modalBody{
		width: 100%;
		max-width: 363px;
		max-height: 90vh;
		background-color: #fff;
		box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08), 0px 4px 11px rgba(0, 0, 0, 0.08);
		display: flex;
		flex-direction: column;
		opacity: 0;
		animation: modalShow 0.5s ease forwards;
		@keyframes modalShow {
			from{
				transform: translate(0, -40px);
				opacity: 0;
			}
			to{
				transform: translate(0, 0px);
				opacity: 1;
			}
		}
		.topSide{
			height: 508px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0 16px;
			.ic-close-rounded{
				position: absolute;
				top: 5px;
				right: 5px;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 10px;
				cursor: pointer;
			}
			.img{
				width: 120px;
				margin-bottom: 47px;
			}
			.caption{
				font-weight: 600;
				font-size: 38px;
				line-height: 100%;
				text-align: center;
				color: #FF6058;
			}
			.txt{
				font-weight: 600;
				font-size: 16px;
				line-height: 160%;
				text-align: center;
				color: #000000;
			}
			.schedule{
				margin-top: 32px;
				text-align: center;
				font-weight: 600;
				font-size: 14px;
				line-height: 160%;
				text-align: center;
				color: #000000;
			}
		}
		.botSide{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 16px;
			box-shadow: inset 0px 1px 0px #8E8E93;
			.socLinks{
				padding-top: 18px;
				margin-bottom: 20px;
				a{
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: -0.03em;
					color: #1A1A1A;
					margin: 0 8px;
					text-decoration: none;
				}
			}
			.messangersLinks {
				display: flex;
				a {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					border-top-right-radius: 0;
					border: 1px solid #000;
					display: flex;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					margin: 0 4px;
				}
				.teleg {
					font-size: 16px;
					color: #37aee2;
					border-color: #37aee2;
					&:hover {
						background-color: #37aee2;
						color: #fff;
					}
				}
				.viber {
					font-size: 18px;
					color: #7f4da0;
					border-color: #7f4da0;
					&:hover {
						background-color: #7f4da0;
						color: #fff;
					}
				}
				.phone {
					font-size: 18px;
					color: #f4a700;
					border-color: #f4a700;
					&:hover {
						background-color: #f4a700;
						color: #fff;
					}
				}
			}
		}
	}
}
</style>