<template>
	<div class="item open">
		<div class="headMini" v-if="!opened" @click="$emit('open')">
			<p class="caption">{{markerdata.translate.city}}</p>
			<a :href="markerdata.model.request_link" target="_blank" class="mainAction">{{$t("getVisit")}}</a>
		</div>
		<template v-if="opened">
			<div class="head">
				<p class="caption">{{markerdata.translate.city}}</p>
				<span class="ic-close-square" @click="$emit('close')"></span>
			</div>
			<div class="itemBody">
				<div class="propItem" v-if="markerdata.translate.address">
					<span class="ic-marker"></span>
					{{markerdata.translate.address}}
				</div>
				<div class="propItem" v-if="markerdata.translate.schedule">
					<span class="ic-time"></span>
					{{markerdata.translate.schedule}}
				</div>
				<div class="propItem" v-if="markerdata.translate.email">
					<span class="ic-mail"></span>
					{{markerdata.translate.email}}
				</div>
				<div class="propItem" v-if="markerdata.translate.phone">
					<span class="ic-phone"></span>
					{{markerdata.translate.phone}}
				</div>
			</div>
			<div class="ft">
				<router-link :to="{path: `${locale}/plasmacenter/${markerdata.model.slug}`}" class="more">{{$t('plCenterDetails')}}</router-link>
				<!-- <router-link :to="{name: `plasmacenter`, params: {locale: this.$i18n.locale == 'uk' ? '' : this.$i18n.locale, slug: markerdata.model.slug}}" class="more">{{$t('plCenterDetails')}}</router-link> -->
				<div class="socWrp">
					<a v-for="(socItem, index) in markerdata.socials" :key="index" :href="socItem.link" target="_blank"><span :class="socItem.icon"></span></a>
				</div>
				<a :href="markerdata.model.request_link" target="_blank" class="mainAction">{{$t('getVisit')}}</a>
			</div>
			<div v-if="mapstate" class="itemMap" ref="mapholder">
			</div>
		</template>
	</div>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";
export default {
	props: ['markerdata', 'opened', 'mapinstance'],
	data() {
		return {
			mapstate: false,
			mapConfig: {
				zoom: 6,
			},
			currentOpened: 0,
			apiKey: "AIzaSyB_LTi9s98lZz5PpDXch8kJnEbYXI0awso",
			google: null,
			map: null,
		}
	},
	methods: {
		initializeMap() {
			const mapContainer = this.$refs.mapholder;
			this.map = new this.google.maps.Map(mapContainer, { zoom: 16, center: {lat: +this.markerdata.model.coord_lat, lng: +this.markerdata.model.coord_lng}});
			new this.google.maps.Marker({
				position: {lat: +this.markerdata.model.coord_lat, lng: +this.markerdata.model.coord_lng},
				map: this.map,
			});
		},
	},
	mounted () {
	},
	computed: {
		locale() {
			return this.$i18n.locale == 'uk' ? '' : `/${this.$i18n.locale}`;
		}
	},
	watch: {
		async opened(newValue) {
			if(newValue){
				if(window.innerWidth <= 1365){
					this.mapstate = true;
					const googleMapApi = await GoogleMapsApiLoader({
						apiKey: this.apiKey,
					});
					this.google = googleMapApi;
					this.initializeMap();
				}
			}
		}
	},
}
</script>

<style>

</style>