<template>
	<div class="mainWrapPromo">
		<transition name="fadefast" mode="out-in">
			<div v-if="!loaded" class="loadingFiller" key="ld">
				<div class="lds-dual-ring"></div>
			</div>
			<div v-if="loaded" :key="'pagecontent'" class="ovh">
				<ModalPhone
					v-if="isModalPhone"
					@onsuccess="onPhoneSuccess"
					@close="isModalPhone = false"
					:cityParameter="ModalPhoneParameter"
				></ModalPhone>
				<ModalSuccess v-if="isModalSuccess" @close="isModalSuccess = false"></ModalSuccess>
				<Map
					v-if="isModalMap"
					@mapclose="isModalMap = false"
					:compdata="modalMapData"
				></Map>
				<!-- ==== -->
				<PromoHeader :compdata="landMenu"></PromoHeader>
				<template v-for="(comp, index) in constructor">
					<component
						v-if="comp.visibility == 1"
						:key="index"
						:is="comp.component"
						:compdata="comp.content"
						@openmap="onMapOpen"
						@openform="openform"
						@openformWithParameter="openformWithParameter"
						@onsuccess="isModalSuccess = true"
					></component>
				</template>
				<span class="ic-menu-burger" @click="changeMenuState"></span>
				<transition name="menuAppear">
					<PromoMenu
						v-if="diveseType == 'mob' && isMenuOpened"
						:compdata="landMenu"
						@close="changeMenuState"
						@openphoneform="onMenuFormClick"
					></PromoMenu>
				</transition>
			</div>
		</transition>
	</div>
</template>

<script>
// import {Bus} from "@/main.js";
import PromoMenu from "@/components/promo/modalItems/Menu.vue";
import ModalPhone from "@/components/promo/modalItems/ModalPhone.vue";
import ModalSuccess from "@/components/promo/modalItems/ModalSuccess.vue";
import Map from "@/components/promo/modalItems/Map.vue";

import PromoHeader from "@/components/promo/sections/header.vue";
import PromoMainBanner from "@/components/promo/sections/MainBanner.vue";
import PromoBenefitSize from "@/components/promo/sections/BenefitSize.vue";
import PromoBenefitSizePlus from "@/components/promo/sections/BenefitSizePlus.vue";
import PromoChare from "@/components/promo/sections/Chare.vue";
import PromoSteps from "@/components/promo/sections/Steps.vue";
import PromoPlasmacenters from "@/components/promo/sections/Plasmacenters.vue";
import PromoGalery from "@/components/promo/sections/Galery.vue";
import PromoDonors from "@/components/promo/sections/Donors.vue";
import PromoSign from "@/components/promo/sections/Sign.vue";
import PromoFooter from "@/components/promo/sections/footer.vue";
export default {
	name: "promo1",
	components: {
		PromoMenu,
		ModalPhone,
		ModalSuccess,
		Map,

		PromoHeader,
		"banner-new-landing": PromoMainBanner,
		"rewards-new-landing": PromoBenefitSize,
		"bonus-plus-new-landing": PromoBenefitSizePlus,
		"fund-new-landing": PromoChare,
		"steps1": PromoSteps,
		"plasmacenters": PromoPlasmacenters,
		"slider": PromoGalery,
		"donors-slider": PromoDonors,
		"form-new-landing": PromoSign,
		"footer-new-landing": PromoFooter,
	},
	data() {
		return {
			diveseType: null,
			isMenuOpened: false,

			isModalPhone: false,
			ModalPhoneParameter: null,
			isModalSuccess: false,
			isModalMap: false,
			modalMapData: null,

			loaded: false,
			constructor: null,
			landMenu: null,
		};
	},
	methods: {
		setDeviceType() {
			if (window.innerWidth > 1200) {
				this.diveseType = "desctop";
			} else {
				this.diveseType = "mob";
			}
		},
		changeMenuState() {
			this.isMenuOpened = !this.isMenuOpened;
		},
		onMapOpen(mapData) {
			this.modalMapData = mapData;
			this.isModalMap = !this.isModalMap;
		},
		onMenuFormClick(){
			this.isModalPhone = true;
			this.isMenuOpened = false;
		},
		openformWithParameter(arg){
			this.ModalPhoneParameter = arg.plasmacentr;
			this.isModalPhone = true;
		},
		openform(){
			this.ModalPhoneParameter = null;
			this.isModalPhone = true;
		},
		onPhoneSuccess(){
			this.isModalPhone = false;
			this.isModalSuccess = true;
		}
	},
	mounted() {
		this.setDeviceType();
		window.addEventListener("resize", () => {
			this.setDeviceType();
		});
	},
	created() {
		this.axios
			.post("/api/landing/get-by-slug", {
				lang: this.$i18n.locale,
				slug: this.$route.path.replace(/ru\/|\/?/g, ""),
			})
			.then((response) => {
				this.constructor = response.data.data.constructor;
				this.landMenu = response.data.data.menu;
				document.title = response.data.data.translate.title;
				this.loaded = true;
				if(this.$route.query.agentId){
					localStorage.setItem('agentId', this.$route.query.agentId);
				}
			})
			.catch((e) => {
				console.dir(e);
				this.$router.replace({
					name: "error404",
					params: {
						locale: this.$i18n.locale == "uk" ? null : this.$i18n.locale,
					},
				});
			});
	},
	watch: {
		isModalMap(newValue) {
			if (newValue === true) {
				document.body.style.overflowY = "hidden";
			} else {
				document.body.style.overflowY = "auto";
			}
		},
	},
};
</script>

<style lang="scss">
@import "../scss/normalize.css";
@import "../scss/Gill.scss";

// @import 'icofont';

* {
	font-family: "Gilroy", Arial, sans-serif;
}

.menuAppear-enter-active,
.menuAppear-leave-active {
	transition: transform 0.5s;
}
.menuAppear-enter,
.menuAppear-leave-to {
	transform: translate(-100%, 0);
}
.rightAppear-enter-active,
.rightAppear-leave-active {
	transition: 0.3s ease;
}
.rightAppear-enter,
.rightAppear-leave-to {
	transform: translate(100%, -50%);
}

.container {
	max-width: 1200px;
	box-sizing: content-box;
	padding: 0 30px;
	margin: auto;

	@media (max-width: 600px) {
		padding: 0 15px;
	}
}

.leftCol {
	max-width: 400px;
	flex-shrink: 0;

	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 130%;
	color: #262628;

	@media (max-width: 1200px) {
		max-width: unset;
	}

	@media (max-width: 600px) {
		font-size: 29px;
	}
}

.ic-menu-burger {
	display: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #e10b17;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 10;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: #fff;
	cursor: pointer;

	@media (max-width: 1200px) {
		display: flex;
	}
}
</style>
