<template>
	<section class="promoBenefitSize" id="compensation">
		<div class="container">
			<div class="leftCol">
				{{compdata.title}}
			</div>
			<div class="rightCol">
				<div>
					<div class="btl dotBlue">
						<div class="row" v-for="(item, index) in compdata.list" :key="index">
							<div class="lft" v-html="item.title"></div>
							<div class="rght">{{item.title2}} <span class="ic-drop"></span></div>
						</div>
					</div>
					<div class="tip" v-html="compdata.added_text"></div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: "promoBenefitSize",
	props: ['compdata'],
};
</script>

<style  lang="scss">
.promoBenefitSize {
	padding: 50px 0;

	.container {
		display: flex;

		@media (max-width: 1200px) {
			flex-direction: column;
		}

		.leftCol {
			@media (max-width: 1200px) {
				margin-bottom: 30px;
			}
		}

		.rightCol {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
			padding-left: 30px;

			@media (max-width: 1200px) {
				padding-left: 0;
			}

			& > div {
				max-width: 600px;
				width: 100%;

				.dotBlue {
					.ic-drop {
						color: #6cb6f1;
					}
				}

				.dotRed {
					.ic-drop {
						color: #ff6058;
					}
				}

				.btl {
					display: flex;
					flex-direction: column;

					.row {
						display: flex;
						justify-content: space-between;
						padding: 18px 0;
						position: relative;

						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 1px;
							background-color: #aeaeb2;
						}

						.lft {
							font-weight: 500;
							font-size: 26px;
							line-height: 120%;
							color: #262628;
						}

						.rght {
							font-size: 24px;
							line-height: 130%;
							color: #262628;

							.ic-drop {
								margin-left: 15px;
								font-size: 19px;
							}
						}
					}
				}

				.tblTitle {
					margin-top: 68px;
					text-align: left;
					min-height: 80px;
					margin-bottom: 35px;

					.ttl {
						font-style: normal;
						font-weight: normal;
						font-size: 24px;
						line-height: 130%;
						color: #151515;

						span {
							color: #ff6058;
							font-weight: 600;
						}
					}

					img {
						height: 80px;
						float: right;
					}
				}

				.tip {
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 150%;
					color: #151515;
					margin-top: 18px;
				}
			}
		}
	}
}
</style>