<template>
	<section class="promoChare" id="funds">
		<div class="container">
			<div class="leftCol">
				{{compdata.title}}
			</div>
			<div class="rightCol">
				<div>
					<FaqComponent :compdata="compdata.list"></FaqComponent>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import FaqComponent from '@/components/promo/components/faqComponent.vue'
export default {
	name: "PromoChare",
	components: {
		FaqComponent,
	},
};
</script>

<style  lang="scss">
.promoChare {
	padding: 50px 0;
	background-color: #f8f8f8;

	.container {
		display: flex;

		@media (max-width: 1200px) {
			flex-direction: column;
		}

		.leftCol {
			@media (max-width: 1200px) {
				margin-bottom: 30px;
			}
		}

		.rightCol {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
			padding-left: 30px;

			@media (max-width: 1200px) {
				padding-left: 0;
			}

			& > div {
				max-width: 600px;
				width: 100%;

				.faqComponent {
					margin: 34px 0 16px;

					.item {
						box-shadow: 0 1px 0 0 #aeaeb2;

						.hd {
							position: relative;
							padding: 16px 30px 16px 0;
							cursor: pointer;

							.caption {
								font-style: normal;
								font-weight: 600;
								font-size: 18px;
								line-height: 160%;
								color: #262628;
								margin: 0;
							}

							.ic-close-square {
								position: absolute;
								top: 22px;
								right: 0;
								transform: rotate(45deg);
								cursor: pointer;
							}

							&:hover {
								.caption,
								.ic-close-square {
									color: #e10b17;
								}
							}
						}

						.body {
							.chareItem {
								padding-top: 15px;
								padding-left: 26px;
								position: relative;
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 130%;
								color: #636366;

								&:before {
									content: "";
									position: absolute;
									left: 0;
									top: 23px;
									width: 10px;
									height: 10px;
									background: #f4a700;
								}
							}
						}

						&.opened {
							padding-bottom: 16px;

							.hd {
								.ic-close-square {
									transform: rotate(0deg);
								}
							}
						}
					}
				}
			}
		}
	}
}
</style>