<template>
	<section class="promoDonors">
		<div class="container">
			<Flickity class="slider" ref="flickity" :options="sliderOptions">
				<a v-for="(item, index) in compdata.list" :key="index" class="item">
					<div class="imgWrap">
						<img class="pImg" :src="path(item.image)" alt="" @load="refreshSlider('flickity')" />
						<div class="sub">
							<span class="bp">
								<img :src="`${require('@/assets/img/b.svg')}`" alt="b" />
							</span>
							<span class="donations">
								<img :src="`${require('@/assets/img/plumb.svg')}`" alt="" />
								<span>{{ item.donations }}</span>
							</span>
						</div>
					</div>
					<div>
						<p class="name">{{ item.title }}</p>
						<p class="city">{{ item.city }}</p>
					</div>
				</a>
			</Flickity>
			<div class="nav">
				<span class="ic-arrow-long-left" @click="onPrev"></span>
				<img :src="`${require('@/assets/img/handCup.svg')}`" alt="123" />
				<span class="ic-arrow-long-rigth" @click="onNext"></span>
			</div>
		</div>
	</section>
</template>

<script>
import Flickity from "vue-flickity";
export default {
	name: "PromoDonors",
	components: {
		Flickity,
	},
	data() {
		return {
			sliderOptions: {
				cellAlign: "left",
				contain: true,
				pageDots: false,
				prevNextButtons: false,
				imagesLoaded: true,
				currentImg: 0,
			},
		};
	},
	methods: {
		onNext() {
			this.$refs.flickity.next();
		},
		onPrev() {
			this.$refs.flickity.previous();
		},
	},
	mounted() {
		setTimeout(() => {
			this.$refs.flickity.resize();
		}, 100);
	},
};
</script>

<style lang="scss">
.promoDonors {
	padding: 50px 0;
	overflow-x: hidden;

	@media (max-width: 1200px) {
		padding: 0 0 50px;
	}

	.container {
		.slider {
			.flickity-viewport {
				overflow: visible !important;
			}

			.item {
				text-decoration: none;
				margin-right: 8px;
				margin-left: 8px;
				width: 300px;

				@media (max-width: 1599px) {
					width: 254px;
				}

				@media (max-width: 1365px) {
					width: 224px;
				}

				@media (max-width: 1023px) {
					width: 210px;
				}

				.imgWrap {
					position: relative;
					overflow: hidden;

					.pImg {
						// width: 300px;
						// height: 520px;
						width: 100%;
						object-fit: cover;
						display: block;
						transition: 0.9s cubic-bezier(0, 0.02, 0, 0.98);
						// @media (max-width: 1599px) {
						// 	width: 254px;
						// 	height: 440px;
						// }
						// @media (max-width: 1365px) {
						// 	width: 224px;
						// 	height: 389px;
						// }
						// @media (max-width: 1023px) {
						// 	width: 210px;
						// 	height: 365px;
						// }
					}

					.sub {
						position: absolute;
						bottom: 8px;
						right: 8px;
						display: flex;

						& > * + * {
							margin-left: 7px;
						}

						.bp {
							display: block;
							width: 46px;
							height: 46px;
							border-radius: 50px;
							background-color: #e10b17;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.donations {
							height: 46px;
							display: flex;
							align-items: center;
							background-color: #fff;
							border-radius: 50px;
							border-top-right-radius: 0;
							padding: 0 16px;
							text-decoration: none;

							img {
								margin-right: 12px;
							}

							span {
								font-style: normal;
								font-weight: 600;
								font-size: 13px;
								line-height: 17px;
								color: #000000;
							}
						}
					}
				}

				.name {
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 23px;
					color: #000000;
					margin: 10px 0 0;
				}

				.city {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					color: #000000;
					margin: 13px 0 0;
				}

				&:hover {
					@media (min-width: 768px) {
						.imgWrap .pImg {
							transform: scale(1.1);
						}
					}
				}
			}
		}

		.nav {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 32px 0 0;

			img {
				margin: 0 10px;
			}

			.ic-arrow-long-left,
			.ic-arrow-long-rigth {
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
}
</style>