<template>
	<footer class="ft2">
		<div class="container">
			<div class="copyr">
				{{compdata.title}}
			</div>
			<div class="wdgt">
				<a  class="phoneLkn">
					<span class="ic-phone"></span>{{compdata.phone}}
				</a>
				<a :href="`tel:${compdata.phone}`" class="callLnk">{{compdata.btn_name}}</a>
			</div>
			<div class="socwrp">
				<a v-for="item in compdata.socials" :key="item.link" :href="item.link" target="_blank"><span :class="item.type"></span></a>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: "PromoFooter",
};
</script>

<style lang="scss">
.ft2 {
	background: #E5E5EA;
	padding: 20px 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1200px) {
			flex-wrap: wrap;
		}

		.copyr {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #262628;
			max-width: 375px;

			@media (max-width: 1200px) {
				width: 100%;
				max-width: unset;
				margin-bottom: 20px;
			}
		}

		.wdgt {
			display: flex;
			align-items: center;

			.phoneLkn {
				margin: 0 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				color: #262628;
				text-decoration: none;

				@media (max-width: 1200px) {
					margin: 0 20px 0 0;
				}

				@media (max-width: 600px) {
					margin: 0 20px 0 0;
				}

				.ic-phone {
					color: #F4A700;
					font-size: 17px;
					margin-right: 10px;
				}
			}

			.callLnk {
				margin: 0 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				text-align: center;
				color: #151515;
				padding: 12px 30px;
				border: 1px solid #AEAEB2;
				box-sizing: border-box;
				text-decoration: none;

				@media (max-width: 600px) {
					margin: 0;
				}
			}
		}

		.socwrp {
			display: flex;

			@media (max-width: 600px) {
				margin-top: 30px;
				width: 100%;
			}

			a {
				border: 1px solid #AEAEB2;
				box-sizing: border-box;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				color: #AEAEB2;
				margin: 0 5px;
				transition: 0.3s ease;

				&:hover {
					background-color: #F4A700;
					border: 1px solid #F4A700;
					color: #fff;
				}

				.ic-facebook {
					font-size: 17px;
					transition: 0.1s ease;
				}

				.ic-twitter {
					font-size: 15px;
					transition: 0.1s ease;
				}

				.ic-instagram {
					font-size: 17px;
					transition: 0.1s ease;
				}
			}
		}
	}
}
</style>