<template>
	<section class="promoGalery">
		<div class="container">
			<Flickity class="slider" ref="flickity" :options="sliderOptions">
				<div class="slide" v-for="(item, index) in compdata.list" :key="index"><img @load="refreshSlider('flickity')" :src="path(item.image)" :alt="path(item.image)" /></div>
			</Flickity>
			<div class="nav">
				<span class="ic-arrow-long-left" @click="onPrev"></span>
				<img :src="`${require('@/assets/img/handCup.svg')}`" alt="123" />
				<span class="ic-arrow-long-rigth" @click="onNext"></span>
			</div>
		</div>
	</section>
</template>

<script>
import Flickity from "vue-flickity";
export default {
	name: "PromoGalery",
	components: {
		Flickity,
	},
	data() {
		return {
			sliderOptions: {
				cellAlign: "left",
				contain: true,
				pageDots: false,
				prevNextButtons: false,
				imagesLoaded: true,
				currentImg: 0,
			},
		}
	},
	methods: {
		onNext() {
			this.$refs.flickity.next();
		},
		onPrev() {
			this.$refs.flickity.previous();
		},
	},
	mounted () {
		setTimeout(() => {
			this.$refs.flickity.resize();
		}, 10);
	},
};
</script>

<style lang="scss">
.promoGalery {
	padding: 50px 0;
	overflow-x: hidden;

	@media (max-width: 1200px) {
		padding: 0 0 50px;
	}

	.container {
		.slider {
			.flickity-viewport {
				overflow: visible !important;
			}

			.slide {
				padding: 0 5px;
				// max-width: 100%;
				@media (max-width: 768px) {
					max-width: 90vw;
				}

				img {
					height: 448px;
					display: block;
					@media (max-width: 768px) {
						max-width: 90vw;
						object-fit: cover;
					}

					@media (max-width: 575px) {
						height: 250px;
						// max-width: 100%;
					}
				}
			}
		}

		.nav {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 32px 0 0;

			img {
				margin: 0 10px;
			}

			.ic-arrow-long-left,
			.ic-arrow-long-rigth {
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
}
</style>