<template>
	<header>
		<div class="container">
			<img :src="require('@/assets/img/logo.svg')" alt="" class="logo" />
			<nav>
				<a v-for="item in compdata" :key="item.url" :href="item.url">{{
					item.name
				}}</a>

				<div class="lang">
					<router-link
						:class="{ active: $i18n.locale == 'ru' }"
						:to="getUrl('/ru/')"
						>ru</router-link
					>
					<span> | </span>
					<router-link
						:class="{ active: $i18n.locale == 'uk' }"
						:to="getUrl('/')"
						>укр</router-link
					>
				</div>
			</nav>
		</div>
	</header>
</template>

<script>
export default {
	name: "promoHeader",
	props: ["compdata"],
	methods: {
		getUrl(s) {
			return s+this.$route.path.replace(/(\/ru)|(\/)/g,'');
		}
	},
};
</script>

<style lang="scss" >
header {
	background-color: #ffffff;

	@media (max-width: 1200px) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: transparent;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;

		@media (max-width: 1200px) {
			height: 62px;
		}

		.logo {
			@media (max-width: 1200px) {
				margin-left: 30px;
			}

			@media (max-width: 600px) {
				margin-left: 45px;
			}
		}

		nav {
			display: flex;

			@media (max-width: 1200px) {
				display: none;
			}

			a {
				font-weight: 500;
				font-size: 17px;
				line-height: 120%;
				color: #262628;
				text-decoration: none;

				&:hover {
					color: #e10b17;
				}

				& + a {
					margin-left: 50px;
				}
			}

			.lang {
				margin-left: 30px;
				font-weight: 600;
				line-height: 18px;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				span{
					margin: 0 5px;
				}
				a {
					font-size: 14px !important;
					color: rgba(0, 0, 0, 1);
					text-decoration: none;
					&.active {
						color: rgba(0, 0, 0, 0.4);
						pointer-events: none;
					}
					&:hover {
						color: #e10b17;
						&.active {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}
			}
		}
	}
}
</style>