<template>
	<section class="promoMainBanner" :style="bg">
		<div class="container">
			<h1>{{ compdata.title }}</h1>
			<p v-if="compdata.footer_text" class="h1sub">
				{{ compdata.footer_text }}
			</p>
			<div v-if="compdata.list_default" class="ul">
				<li v-for="item in compdata.list_default" :key="item">
					{{ item }}
				</li>
				<!-- <li>Доноров уже более 600 000</li> -->
			</div>
			<a
				class="sign"
				v-if="compdata.btn_text"
				:href="compdata.btn_link"
				@click.prevent="$emit('openform')"
				><span class="ic-hand-1"></span> {{ compdata.btn_text }}</a
			>
			<div class="bottxt" v-html="compdata.added_text"></div>
		</div>
	</section>
</template>

<script>
export default {
	name: "PromoMainBanner",
	props: ["compdata"],
	data() {
		return {
			width: null,
		};
	},
	computed: {
		bg() {
			if (this.width > 1200)
				return {
					backgroundImage: `url('${this.path(this.compdata.image)}')`,
				};
			else
				return {
					backgroundImage: `url('${this.path(this.compdata.image_mob)}')`,
				};
		},
	},
	created() {
		this.width = window.innerWidth;
		window.addEventListener("resize", () => {
			this.width = window.innerWidth;
		});
	},
};
</script>

<style lang="scss" >
.promoMainBanner {
	background-position: center;
	background-size: cover;
	padding: 110px 0 90px;

	.container {
		h1 {
			font-weight: 600;
			font-size: 54px;
			line-height: 120%;
			color: #f39526;
			margin: 0;
			max-width: 400px;

			@media (max-width: 600px) {
				font-size: 44px;
				// margin-bottom: 193px;
			}
		}
	}

	.h1sub {
		font-weight: 500;
		font-size: 32px;
		line-height: 130%;
		color: #262628;
		margin: 24px 0 0;
		max-width: 400px;
		font-weight: 600;

		@media (max-width: 1200px) {
			font-size: 26px;
		}
	}

	.ul {
		max-width: 400px;
		list-style: none;
		margin-top: 25px;

		li {
			font-style: normal;
			font-size: 24px;
			line-height: 130%;
			color: #151515;
			position: relative;
			padding-left: 20px;
			font-weight: 600;

			@media (max-width: 1200px) {
				font-size: 24px;
			}

			& + li {
				margin-top: 15px;
			}

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 10px;
				width: 10px;
				height: 10px;
				background-color: #e10b17;
			}
		}
	}

	.sign {
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		text-align: center;
		color: #ffffff;
		padding: 19px;
		margin-top: 116px;
		background: #e10b17;
		display: block;
		text-decoration: none;
		max-width: 400px;
		cursor: pointer;
		// @media (max-width: 600px) {
		// 	margin-top: 27px;
		// }

		.ic-hand-1 {
			margin-right: 16px;
			font-size: 16px;
		}
	}
	.bottxt {
		max-width: 400px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: #151515;
		margin-top: 18px;
	}
}
</style>