<template>
	<section class="promoPlasmacenters" id="plasma-centers">
		<div class="container">
			<div class="leftCol">{{ compdata.title }}</div>
			<div class="rightCol">
				<div>
					<Flickity
						class="citiesWrp"
						:options="sliderOptions"
						v-if="isFlickityShow"
					>
						<button
							class="item"
							v-for="(item, index) in compdata.list"
							:key="item.city"
							:class="{ active: index == selectedIndex }"
							@click="selectedIndex = index"
						>
							{{ item.city }}
						</button>
					</Flickity>
					<div class="companyInfo">
						<div class="item">
							<span class="ic-marker"></span>
							{{ compdata.list[selectedIndex].address }}
						</div>
						<div class="item">
							<span class="ic-time"></span>
							{{ compdata.list[selectedIndex].schedule }}
						</div>
						<a class="item" href="#">
							<span class="ic-phone"></span>
							<template v-for="(item, index) in phones">
								<span v-if="index != 0" :key="item + 'koma'">, </span>
								<a :key="item" :href="`tel:${item}`">{{ item }}</a>
							</template>
						</a>
					</div>
					<div class="btnsWrp">
						<a href="#" class="sign" @click.prevent="$emit('openformWithParameter', {plasmacentr: compdata.list[selectedIndex].city})"
							><span class="ic-hand-1"></span> {{ compdata.btn_text1 }}</a
						>
						<a
							href="#"
							class="map"
							@click.prevent="
								$emit('openmap', { list: compdata.list, selectedIndex })
							"
							><span class="ic-marker"></span> {{ compdata.btn_text2 }}</a
						>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import Flickity from "vue-flickity";
export default {
	name: "PromoPlasmacenters",
	components: {
		Flickity,
	},
	data() {
		return {
			sliderOptions: {
				cellAlign: "left",
				contain: true,
				pageDots: false,
				prevNextButtons: false,
			},
			isFlickityShow: true,
			selectedIndex: 0,
		};
	},
	computed: {
		phones() {
			return this.compdata.list[this.selectedIndex].phone.split(',');
		}
	},
	mounted() {
		if(this.$route.query.city){
			this.compdata.list.forEach((item, index) => {
				if(item.tag == this.$route.query.city){
					this.selectedIndex = index;
					return false;
				}
			})
		}
		
	},
};
</script>

<style  lang="scss">
.promoPlasmacenters {
	padding: 50px 0;

	.container {
		display: flex;

		@media (max-width: 1200px) {
			flex-direction: column;
		}

		.rightCol {
			padding-left: 30px;
			flex-grow: 1;

			@media (max-width: 1200px) {
				margin-top: 50px;
				padding-left: 0;
			}

			& > div {
				width: 100%;

				.citiesWrp {
					// display: flex;
					.item {
						// display: block;
						min-width: 90px;
						padding: 15px;
						border: 1px solid #aeaeb2;
						background: transparent;

						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 120%;
						text-align: center;
						color: #262628;
						cursor: pointer;

						& + .item {
							margin-left: 8px;
						}

						&:hover,
						&.active {
							background: #f4a700;
							border: 1px solid #f4a700;
						}
					}
				}

				.companyInfo {
					margin-top: 40px;

					.item {
						padding-left: 34px;
						position: relative;
						font-style: normal;
						font-weight: 500;
						font-size: 17px;
						line-height: 160%;
						color: #151515;
						text-decoration: none;
						display: block;
						a{
							color: inherit
						}

						& + .item {
							margin-top: 15px;
						}

						.ic-marker {
							color: #f4a700;
							position: absolute;
							left: 13px;
							transform: translate(-50%, 0);
							font-size: 20px;
							top: 2px;
						}

						.ic-time {
							color: #f4a700;
							position: absolute;
							left: 13px;
							transform: translate(-50%, 0);
							font-size: 18px;
							top: 4px;
						}

						.ic-phone {
							color: #f4a700;
							position: absolute;
							left: 13px;
							transform: translate(-50%, 0);
							font-size: 17px;
							top: 2px;
						}
					}
				}

				.btnsWrp {
					display: flex;
					justify-content: space-between;
					margin-top: 30px;

					@media (max-width: 1200px) {
						flex-direction: column;
					}

					& > * + * {
						@media (max-width: 1200px) {
							margin-top: 10px;
						}
					}

					.sign {
						background: #e10b17;
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						color: #ffffff;
						width: calc(50% - 5px);
						padding: 16px 0;
						text-align: center;
						text-decoration: none;

						@media (max-width: 1200px) {
							width: 100%;
						}

						.ic-hand-1 {
							margin-right: 16px;
							font-size: 16px;
						}
					}

					.map {
						border: 1px solid #aeaeb2;
						background: #fff;
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						color: #151515;
						width: calc(50% - 5px);
						padding: 16px 0;
						text-align: center;
						text-decoration: none;

						@media (max-width: 1200px) {
							width: 100%;
						}

						.ic-marker {
							margin-right: 16px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
</style>