<template>
	<section class="promoSteps" id="steps">
		<div class="container">
			<div class="leftCol">{{compdata.title}}</div>
			<div class="rightCol">
				<div class="steps">
					<div class="item" v-for="item in compdata.list" :key="item.title">
						<img :src="path(item.image)" :alt="path(item.image)" />
						<span class="counter"></span>
						<div class="caption">{{item.title}}</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: "PromoSteps",
	props: ['compdata'],
};
</script>

<style  lang="scss">
.promoSteps {
	background: #f8f8f8;
	padding: 100px 0;

	@media (max-width: 1200px) {
		padding: 50px 0;
	}

	.container {
		display: flex;

		@media (max-width: 1200px) {
			flex-direction: column;
		}

		.leftCol {
			@media (max-width: 1200px) {
				margin-bottom: 50px;
			}
		}

		.rightCol {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			padding-left: 30px;

			@media (max-width: 1200px) {
				padding-left: 0;
			}

			.steps {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				counter-reset: section;

				.item {
					counter-increment: section;
					display: flex;
					flex-direction: column;
					width: 216px;

					img {
						height: 193px;
					}

					.counter {
						&::before {
							content: counter(section) ".";
							font-style: normal;
							font-weight: 800;
							font-size: 36px;
							line-height: 100%;
							color: #f49e15;
							margin-top: 10px;
							display: block;
						}
					}

					.caption {
						font-style: normal;
						font-weight: normal;
						font-size: 24px;
						line-height: 130%;
						color: #000000;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
</style>