<template>
	<div class="mapModal">
		<div class="hd">
			<div class="caption">Biopharma Plasma</div>
			<span class="ic-close-rounded" @click="$emit('mapclose')"></span>
		</div>
		<div class="map" ref="googleMap"></div>
	</div>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";
export default {
	name: "PromoMap",
	data() {
		return {
			mapConfig: {
				zoom: 6,
				center: { lat: 49.224154, lng: 31.505217 },
				options: {
					gestureHandling: "greedy",
				},
			},
			apiKey: "AIzaSyB_LTi9s98lZz5PpDXch8kJnEbYXI0awso",
			google: null,
			map: null,
			markers: [],
			windows: [],
		};
	},
	async mounted() {
		window.addEventListener("keyup", this.escClose);
		this.pos = this.offset(this.$refs.googleMap);
		this.pos.heidht = this.$refs.googleMap.offsetHeight;
		if (!this.checkPos()) document.addEventListener("scroll", this.onScroll);
		else {
			this.startMapLoading();
			this.mapActive = true;
		}
	},
	methods: {
		escClose(e) {
			if (e.key == "Escape") {
				window.removeEventListener("keyup", this.escClose);
				this.$emit("mapclose");
			}
		},
		async startMapLoading() {
			const googleMapApi = await GoogleMapsApiLoader({
				apiKey: this.apiKey,
			});
			this.google = googleMapApi;
			this.initializeMap();
		},
		initializeMap() {
			this.mapConfig.center = {
				lat: +this.compdata.list[this.compdata.selectedIndex].coord_lat,
				lng: +this.compdata.list[this.compdata.selectedIndex].coord_lng,
			};
			this.mapConfig.zoom = 16;
			const mapContainer = this.$refs.googleMap;
			this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
			this.compdata.list.forEach((marker) => {
				let markerObj = new this.google.maps.Marker({
					position: { lat: +marker.coord_lat, lng: +marker.coord_lng },
					map: this.map,
					title: marker.city,
				});
				this.markers.push(markerObj);
			});
			this.compdata.list.forEach((item) => {
				let contentString = `<h2>${item.title}</h2>`;
				contentString += `<p><b>${this.$t("map.address")}: </b>${
					item.address
				}</p>`;
				contentString += `<p><b>${this.$t("map.schedule")}: </b>${
					item.schedule
				}</p>`;

				const window = new this.google.maps.InfoWindow({
					content: contentString,
				});
				this.windows.push(window);
			});
			this.markers.forEach((item, index) => {
				item.addListener("click", () => {
					this.windows.forEach((wind, winInd) => {
						if (index == winInd)
							wind.open({
								anchor: item,
								map: this.map,
								shouldFocus: true,
							});
						else wind.close();
					});
				});
			});
			this.windows[this.compdata.selectedIndex].open({
				anchor: this.markers[this.compdata.selectedIndex],
				map: this.map,
				shouldFocus: true,
			});
		},
		onMarkerItemClick(index) {
			let latLng = new this.google.maps.LatLng(
				this.compdata.list[index].coord_lat,
				this.compdata.list[index].coord_lng
			);
			this.setNewCenter(latLng, 16);
		},
		setNewCenter(latLng, zoom) {
			this.map.panTo(latLng);
			this.map.setZoom(zoom, 1000);
		},
		getSchedule(s) {
			let a = s || "";
			return a.split(",");
		},
		offset(el) {
			var rect = el.getBoundingClientRect(),
				scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
				scrollTop = window.pageYOffset || document.documentElement.scrollTop;
			return { top: rect.top + scrollTop, left: rect.left + scrollLeft };
		},
		checkPos() {
			if (
				this.pos.top < window.innerHeight + window.scrollY &&
				this.pos.top > window.scrollY - this.pos.heidht
			)
				return true;
			else return false;
		},
		onScroll() {
			if (this.checkPos()) {
				document.removeEventListener("scroll", this.onScroll);
				this.mapActive = true;
				this.startMapLoading();
			}
		},
	},
};
</script>

<style lang="scss" scoped>
.mapModal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 105;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.12);
	animation: mapModalShowOverlay 0.3s ease forwards;

	@keyframes mapModalShowOverlay {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
	.hd {
		background-color: #fff;
		height: 57px;
		padding: 0 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		opacity: 0;
		animation: mapModalShowOverlay 1s 0.3s ease forwards;
		.caption {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			color: #151515;
		}
		.ic-close-rounded {
			cursor: pointer;
		}
	}
	.map {
		flex-grow: 1;
		opacity: 0;
		animation: mapModalShowOverlay 1s 0.3s ease forwards;
	}
}
</style>