<template>
	<div class="promoMenu">
		<div class="hd">
			<img :src="require('@/assets/img/logo.svg')" alt="" />
			<div>
				<div class="lang">
					<router-link
						:class="{ active: $i18n.locale == 'ru' }"
						:to="getUrl('/ru/')"
						>ru</router-link
					>
					<span> | </span>
					<router-link
						:class="{ active: $i18n.locale == 'uk' }"
						:to="getUrl('/')"
						>укр</router-link
					>
				</div>
				<span class="ic-close-rounded" @click="$emit('close')"></span>
			</div>
		</div>
		<div class="lnks">
			<a
				v-for="item in compdata"
				:key="item.url"
				:href="item.url"
				@click="$emit('close')"
				>{{ item.name }}</a
			>
		</div>
		<a href="#" class="sign" @click.prevent="$emit('openphoneform')">{{$t('getVisit')}}</a>
	</div>
</template>

<script>
export default {
	name: "PromoMenu",
	methods: {
		getUrl(s) {
			return s+this.$route.path.replace(/(\/ru)|(\/)/g,'');
		}
	},
};
</script>

<style lang="scss">
.promoMenu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	max-width: 400px;
	background-color: #fff;
	z-index: 100;

	.hd {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;

		& > div {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.lang {
				margin-right: 20px;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
				span{
					margin: 0 5px;
				}
				a {
					color: rgba(0, 0, 0, 1);
					text-decoration: none;
					&.active {
						color: rgba(0, 0, 0, 0.4);
						pointer-events: none;
					}
					&:hover {
						color: #e10b17;
						&.active {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}
			}

			.ic-close-rounded {
				font-size: 16px;
			}
		}
	}

	.lnks {
		padding: 15px;
		display: flex;
		flex-direction: column;

		a {
			margin: 10px 0;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 160%;
			color: #262628;
			text-decoration: none;
		}
	}
	.sign {
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		text-align: center;
		color: #ffffff;
		padding: 19px;
		margin-top: 116px;
		background: #e10b17;
		display: block;
		text-decoration: none;
		margin: 0 15px;

		.ic-hand-1 {
			margin-right: 16px;
			font-size: 16px;
		}
	}
}
</style>