<template>
	<div class="modal">
		<div class="modalBody">
			<span class="ic-close-rounded" @click="$emit('close')"></span>
			<div class="caption">{{ $t("promo.modalPhoneCaption") }}</div>
			<phone-input
				:placeholder="''"
				@change="onPhoneChange"
				propname="phone"
				:validate="$v.phone"
				:showError="showError"
			></phone-input>
			<a href="#" @click.prevent="onFormSend" class="accept">{{
				$t("promo.sign")
			}}</a>
		</div>
	</div>
</template>

<script>
import PhoneInput from "@/components/common/inputs/PhoneInput.vue";
import { required, minLength } from "vuelidate/lib/validators";
export default {
	name: "ModalPhone",
	props: ['cityParameter'],
	components: {
		PhoneInput,
	},
	data() {
		return {
			showError: false,

			phone: "",

			phoneLength: 0,

			sending: false,
		};
	},
	validations() {
		return {
			phone: {
				required,
				minLength: minLength(this.phoneLength),
			},
		};
	},
	methods: {
		onPhoneChange(e) {
			this[e.name] = e.value;
			this.phoneLength = e.length;
		},
		onFormSend() {
			this.showError = true;
			if (!this.sending) {
				if (!this.$v.$invalid) {
					this.sending = true;
					this.axios
						.post(`/api/request/callback`, {
							phone: this.phone,
							plasmacentr: this.cityParameter,
							source: `Promo ${this.getPromo()}`,
							agent_id: localStorage.getItem('agentId') || '',
						})
						.then(() => {
							this.sending = false;
							this.$emit('onsuccess');
							window.dataLayer = window.dataLayer || [];
							window.dataLayer.push({
								event: "FormSend",
								"event-category": "Стать донором онлайн (Промо)",
								"event-action": "",
								'CityName': this.cityParameter,
							});
						})
						.catch((e) => {
							alert("error! see console");
							this.sending = false;
							console.log(e);
						});
				}
			}
		},
	},
};
</script>

<style lang="scss" >
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 105;
	background: rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: center;
	align-items: center;

	.modalBody {
		background-color: #fff;
		width: 100vw;
		max-width: 600px;
		position: relative;
		padding: 61px 40px 50px;
		box-sizing: border-box;
		animation: modalShow 0.5s ease forwards;

		@keyframes modalShow {
			from {
				transform: translate(0, -40px);
				opacity: 0;
			}

			to {
				transform: translate(0, 0px);
				opacity: 1;
			}
		}

		@media (max-width: 600px) {
			height: 100vh;
		}

		.ic-close-rounded {
			position: absolute;
			top: 16px;
			right: 16px;
			cursor: pointer;
		}

		.caption {
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 130%;
			color: #151515;
			margin-bottom: 40px;
		}

		.phoneInputWrap {
			background-color: #f8f8f8;
			box-shadow: 0 0 0 1px #aeaeb2;
			margin: 16px 0;
			display: flex;

			.phonePicker {
				width: 84px;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: -1px 0 0 0px inset #aeaeb2;

				.ic-triangle-down {
					font-size: 6px;
					margin-left: 16px;
					color: #aeaeb2;
				}
			}

			input {
				height: 64px;
				padding: 0 24px;
				width: 100%;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
				border: none;
				box-sizing: border-box;
			}
		}

		.accept {
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			text-align: center;
			color: #ffffff;
			padding: 19px;
			background: #e10b17;
			display: block;
			text-decoration: none;
		}

		.back {
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			text-align: center;
			color: #151515;
			padding: 19px;
			background: #fff;
			display: block;
			text-decoration: none;
			box-shadow: 0 0 0 1px inset#AEAEB2;

			margin-top: 15px;
		}
	}
}
</style>