<template>
	<div class="signBtnWrp">
		<template v-if="compdata.type == 'link'">
			<router-link v-if="!isExtUrl(compdata.link)" :to="{path: compdata.link}" class="signBtn">{{compdata.title}}</router-link>
			<a v-else :href="compdata.link" target="_blank" class="signBtn">{{compdata.title}}</a>
		</template>
		<a v-else @click.prevent="onAction" href="#" class="signBtn">{{compdata.title}}</a>
	</div>
</template>

<script>
export default {
	name: 'ButtonConstr',
	props: ['compdata'],
	methods: {
		onAction() {
			window.open(this.compdata.link, '_blank');
		}
	},
}
</script>

<style>

</style>