<template>
	<div class="companyInfo">
		<div class="itemsWrp">
			<div class="item" v-if="compdata.props.address">
				<span class="ic-marker"></span>
				{{compdata.props.address}}
			</div>
			<div class="item" v-if="compdata.props.schedule">
				<span class="ic-time"></span>
				{{compdata.props.schedule}}
			</div>
			<a :href="`mailto:${compdata.props.email}`" class="item" v-if="compdata.props.email">
				<span class="ic-mail"></span>
				{{compdata.props.email}}
			</a>
			<div class="item" v-if="compdata.props.phone">
				<span class="ic-phone"></span>
				<template v-for="(item, index) in phones">
					<span v-if="index != 0" :key="item+'koma'">, </span>
					<a  :key="item" :href="`tel:${item}`">{{item}}</a>
				</template>
			</div>
		</div>
		<div class="socLkns">
			<a v-for="(item, index) in compdata.socials" :key="index" target="_blank" :href="item.link"><span :class="item.icon"></span></a>
			<!-- <a href="#"><span class="ic-instagram"></span></a> -->
		</div>
	</div>
</template>

<script>
export default {
	name: 'CompanyProperty',
	props: ['compdata'],
	computed: {
		phones() {
			return this.compdata.props.phone.split(',');
		}
	},
}
</script>

<style lang="scss">
.companyInfo {
	max-width: 400px;
	margin-top: 24px;
	.itemsWrp {
		.item {
			display: block;
			padding-left: 48px;
			position: relative;
			[class^="ic-"],
			[class*=" ic-"] {
				position: absolute;
				top: 11px;
				left: 20px;
				transform: translate(-50%, -50%);
				color: #f4a700;
			}
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 160%;
			color: #000000;
			text-decoration: none;
			& + .item {
				margin-top: 11px;
			}
			a{
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 160%;
				color: #000000;
			}
		}
		a.item:hover {
			color: #e10b17;
		}
	}
	.socLkns {
		display: flex;
		flex-wrap: wrap;
		margin-top: 22px;
		a {
			width: 40px;
			height: 40px;
			display: block;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 0 1px inset #8e8e93;
			color: #8e8e93;
			text-decoration: none;
			font-size: 17px;
			margin-right: 10px;
			transition: 0.3s ease;
			&:hover {
				background-color: #e10b17;
				box-shadow: 0 0 0 1px inset #e10b17;
				color: #fff;
				transform: translate(0, -6px);
			}
		}
	}
}
</style>