<template>
	<div class="repostWrp">
		<span class="lb">{{ compdata.title }}</span>
		<div class="lnksWrp">
			<a
				:href="`https://www.facebook.com/sharer/sharer.php?u=${currentLocation}`"
				target="_blank"
				><span class="ic-facebook"></span
			></a>
			<a
				:href="`https://telegram.me/share/url?url=${currentLocation}`"
				target="_blank"
				><span class="ic-telegram"></span
			></a>
			<a
				:href="`https://twitter.com/intent/tweet?url=${currentLocation}`"
				target="_blank"
				><span class="ic-twitter"></span
			></a>
			<a href="#" @click.prevent="copyToClipboard"
				><span class="ic-share"></span>
				<span v-if="isCopiedLabel" class="copyText">{{ $t("textCopyed") }}</span>
			</a>
			<input type="text" class="copy" ref="copyInpt" />
		</div>
	</div>
</template>

<script>
export default {
	name: "ConstrShare",
	props: ["compdata"],
	data() {
		return {
			copiedTimer: null,
			isCopiedLabel: false,
		}
	},
	methods: {
		copyToClipboard() {
			this.$refs.copyInpt.value = window.location.href;
			this.$refs.copyInpt.select();
			document.execCommand("copy");
			this.isCopiedLabel = true;
			this.copiedTimer = setTimeout(() => {
				this.isCopiedLabel = false;
			}, 2000);
		},
	},
	computed: {
		currentLocation() {
			return window.location.href;
		},
	},
};
</script>

<style lang="scss">
.repostWrp {
	position: relative;
	.copy {
		position: absolute;
		pointer-events: none;
		opacity: 0;
	}
	.copyText{
		background: #1D1D1D;
		padding: 16px;
		border-radius: 3px;
		position: absolute;
		top: calc(100% + 20px);
		right: 0;
		white-space: nowrap;
	}
}
.repostWrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	margin-top: 32px;
	box-shadow: 0 -1px 0 0px #c7c7cc;
	.lb {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #aeaeb2;
	}
	.lnksWrp {
		display: flex;
		a {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #d1d1d6;
			margin: 0 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: #fff;
			transition: 0.3s ease;
			position: relative;
			@media (max-width: 1199px) {
				background-color: transparent;
				color: #8e8e93;
			}
			&:hover {
				background: #f4a700;
				transform: translate(0, -6px);
				@media (max-width: 1199px) {
					background: transparent;
					transform: unset;
				}
			}
			.ic-facebook {
				font-size: 16px;
				@media (max-width: 1199px) {
					font-size: 19px;
				}
			}
			.ic-telegram {
				font-size: 16px;
			}
			.ic-twitter {
				font-size: 15px;
			}
			.ic-share {
				font-size: 11px;
			}
		}
	}
}
</style>