<template>
	<div class="contactForm">
		<p class="constrFormTxt">{{ compdata.form_name }}</p>
		<div class="constrInputCaption">{{ compdata.title }}</div>

		<default-input
			:placeholder="compdata.input_name_placeholder"
			@change="onFieldChange"
			propname="name"
			:validate="$v.name"
			:showError="showError"
		></default-input>
		<default-input
			:placeholder="compdata.input_company_placeholder"
			@change="onFieldChange"
			propname="companyName"
			:validate="$v.companyName"
			:showError="showError"
		></default-input>
		<phone-input
			:placeholder="compdata.input_phone_placeholder"
			@change="onPhoneChange"
			propname="phone"
			:validate="$v.phone"
			:showError="showError"
		></phone-input>
		<default-input
			:placeholder="compdata.input_email_placeholder"
			:mask="''"
			@change="onFieldChange"
			propname="email"
			:validate="$v.email"
			:showError="showError"
		></default-input>

		<div class="constrInputCaption">{{ compdata.input_text_title }}</div>

		<text-area
			@change="onFieldChange"
			propname="text"
			:placeholder="compdata.input_text_placeholder"
		></text-area>

		<button class="donationBtn" @click="onFormSend">
			<span class="ic-hand-1"></span> {{ compdata.btn_name }}
		</button>

		<transition name="fade">
			<modal-success-message
				v-if="modalShown"
				@close="modalShown = false"
			></modal-success-message>
		</transition>
	</div>
</template>

<script>
import DefaultInput from "@/components/common/inputs/DefaultInput.vue";
import PhoneInput from "@/components/common/inputs/PhoneInput.vue";
import TextArea from "@/components/common/inputs/TextArea.vue";
import ModalSuccessMessage from "@/components/common/ModalSuccessMessage.vue";
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
	name: "ContactForm",
	props: ["compdata"],
	components: {
		DefaultInput,
		PhoneInput,
		TextArea,
		ModalSuccessMessage,
	},
	data() {
		return {
			showError: false,

			name: "",
			companyName: "",
			email: "",
			phone: "",
			text: "",

			phoneLength: 0,

			sending: false,
			modalShown: false,
		};
	},
	validations() {
		return {
			name: {
				required,
				minLength: minLength(2),
			},
			companyName: {
				required,
				minLength: minLength(4),
			},
			email: {
				required,
				email,
			},
			phone: {
				required,
				minLength: minLength(this.phoneLength),
			},
			text: {},
		};
	},
	methods: {
		onFieldChange(e) {
			this[e.name] = e.value;
		},
		onPhoneChange(e) {
			this[e.name] = e.value;
			this.phoneLength = e.length;
		},
		onFormSend() {
			if (!this.sending) {
				this.sending = true;
				this.showError = true;
				if (!this.$v.$invalid) {
					this.axios
						.post("/api/request/feedback", {
							name: this.name,
							company: this.companyName,
							phone: this.phone,
							email: this.email,
							text: this.text,
							source: document.title,
							agent_id: localStorage.getItem("agentId") || "",
						})
						.then((response) => {
							this.modalShown = true;
							console.log(response);
							this.sending = false;
							window.dataLayer = window.dataLayer || [];
							window.dataLayer.push({
								event: "FormSend",
								"event-category": "Форма партнёрства",
								"event-action": "",
							});
						})
						.catch((e) => {
							alert("Error! see console");
							console.log(e);
						});
				}
			}
		},
	},
};
</script>

<style>
.contactForm {
	max-width: 700px;
	margin: 60px 0;
	margin-left: auto !important;
	margin-right: auto !important;
}
</style>