<template>
	<div class="contactForm">
		<p class="constrFormTxt">{{ compdata.form_name }}</p>
		<div class="constrInputCaption">{{ compdata.title }}</div>

		<phone-input
			:placeholder="compdata.input_phone_placeholder"
			@change="onPhoneChange"
			propname="phone"
			:validate="$v.phone"
			:showError="showError"
		></phone-input>

		<button class="donationBtn" @click="onFormSend">
			<span class="ic-hand-1"></span> {{ compdata.btn_name }}
		</button>

		<transition name="fade">
			<modal-success-message
				v-if="modalShown"
				@close="modalShown = false"
			></modal-success-message>
		</transition>
	</div>
</template>

<script>
// import DefaultInput from "@/components/common/inputs/DefaultInput.vue";
import PhoneInput from "@/components/common/inputs/PhoneInput.vue";
// import TextArea from "@/components/common/inputs/TextArea.vue";
import ModalSuccessMessage from "@/components/common/ModalSuccessMessage.vue";
import { required, minLength} from "vuelidate/lib/validators";
export default {
	name: "ContactForm",
	props: ["compdata"],
	components: {
		// DefaultInput,
		PhoneInput,
		// TextArea,
		ModalSuccessMessage,
	},
	data() {
		return {
			showError: false,

			phone: "",

			phoneLength: 0,

			sending: false,
			modalShown: false,
		};
	},
	validations() {
		return {
			phone: {
				required,
				minLength: minLength(this.phoneLength),
			},
		};
	},
	methods: {
		onFieldChange(e) {
			this[e.name] = e.value;
		},
		onPhoneChange(e) {
			this[e.name] = e.value;
			this.phoneLength = e.length;
		},
		onFormSend() {
			if (!this.sending) {
				this.sending = true;
				this.showError = true;
				if (!this.$v.$invalid) {
					this.axios
						.post("/api/request/callback", {
							phone: this.phone,
							source: document.title,
							agent_id: localStorage.getItem("agentId") || "",
						})
						.then((response) => {
							this.modalShown = true;
							console.log(response);
							this.sending = false;
							window.dataLayer = window.dataLayer || [];
							window.dataLayer.push({
								event: "FormSend",
								"event-category": "Форма партнёрства",
								"event-action": "",
							});
						})
						.catch((e) => {
							alert("Error! see console");
							console.log(e);
						});
				}
			}
		},
	},
};
</script>

<style>
.contactForm {
	max-width: 700px;
	margin: 60px 0;
	margin-left: auto !important;
	margin-right: auto !important;
}
</style>