<template>
	<div class="storyPeoples">
		<div v-for="(item, index) in compdata.list" :key="index" class="itemWrp">
			<router-link :to="{path: item.url}" class="item">
				<div class="imgWrap">
					<img class="pImg" :src="path(item.image)" :alt="path(item.image)">
					<div class="sub">
						<span class="bp">
							<img :src="require('@/assets/img/b.svg')" alt="">
						</span>
						<span class="donations">
							<img :src="require('@/assets/img/plumb.svg')" :alt="require('@/assets/img/plumb.svg')">
							<span>{{item.donations}}</span>
						</span>
					</div>
				</div>
				<div>
					<p class="name">{{item.title}}</p>
					<p class="city">{{item.city}}</p>
				</div>
			</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: "DonorsConstr",
	props: ["compdata"]
}
</script>

<style lang="scss">
.storyPeoples {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 48px;
	display: flex;
	flex-wrap: wrap;
	.itemWrp {
		width: 33.33%;
		padding: 0 5px;
		box-sizing: border-box;
		@media (max-width: 575px) {
			width: 50%;
		}
	}
	.item {
		text-decoration: none;
		margin-right: 8px;
		margin-left: 8px;
		.imgWrap {
			overflow: hidden;
			position: relative;
			.pImg {
				width: 100%;
				// height: 611px;
				object-fit: cover;
				display: block;
				transition: 0.3s ease;
				// @media (max-width: 1599px) {
				// 	height: 467px;
				// }
				// @media (max-width: 1365px) {
				// 	height: 390px;
				// }
				// @media (max-width: 1199px) {
				// 	height: 390px;
				// }
				// @media (max-width: 1023px) {
				// }
				// @media (max-width: 575px) {
				// 	height: 307px;
				// }
			}
			.sub {
				position: absolute;
				bottom: 8px;
				right: 16px;
				display: flex;
				& > * + * {
					margin-left: 7px;
				}
				.bp {
					display: block;
					width: 46px;
					height: 46px;
					border-radius: 50px;
					background-color: #e10b17;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.donations {
					height: 46px;
					display: flex;
					align-items: center;
					background-color: #fff;
					border-radius: 50px;
					border-top-right-radius: 0;
					padding: 0 16px;
					text-decoration: none;
					img {
						margin-right: 12px;
					}
					span {
						font-style: normal;
						font-weight: 600;
						font-size: 13px;
						line-height: 17px;
						color: #000000;
					}
				}
			}
		}
		&:hover {
			.imgWrap .pImg {
				transform: scale(1.1);
			}
		}
		.name {
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			margin: 10px 0 0;
		}
		.city {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: #000000;
			margin: 13px 0 0;
		}
	}
}
</style>