<template>
	<div class="galleryWrp">
		<Flickity ref="flickity" class="slider" :options="sliderOptions">
			<div
				class="slide"
				v-for="(item, index) in compdata.list"
				:key="index"
				@click="oneClick(index)"
			>
				<img :src="path(item.image)" :alt="path(item.image)" @load="imgLoaded"/>
			</div>
		</Flickity>
		<div class="nav">
			<span class="ic-arrow-long-left" @click="onPrev"></span>
			<img :src="`${require('@/assets/img/handCup.svg')}`" alt="123" />
			<span class="ic-arrow-long-rigth" @click="onNext"></span>
		</div>
		<ModalGallery
			v-if="modalGal"
			:compdata="compdata.list"
			@close="modalGal = !modalGal"
			:curIndex="currentImg"
		></ModalGallery>
	</div>
</template>

<script>
import Flickity from "vue-flickity";
import ModalGallery from "@/components/common/ModalGallery.vue";
export default {
	props: ["compdata"],
	components: {
		Flickity,
		ModalGallery,
	},
	data() {
		return {
			modalGal: false,
			sliderOptions: {
				cellAlign: "left",
				contain: true,
				pageDots: false,
				prevNextButtons: false,
				imagesLoaded: true,
				currentImg: 0,
			},

			delay: 300,
			clicks: 0,
			timer: null,
		};
	},
	methods: {
		onNext() {
			this.$refs.flickity.next();
		},
		onPrev() {
			this.$refs.flickity.previous();
		},
		onImgClick(index) {
			this.currentImg = index;
			this.modalGal = !this.modalGal;
		},
		oneClick(index) {
			this.clicks++;
			if (this.clicks === 1) {
				this.timer = setTimeout(() => {
					this.clicks = 0;
				}, this.delay);
			} else {
				clearTimeout(this.timer);
				this.onImgClick(index);
				this.clicks = 0;
			}
		},
		imgLoaded(){
			this.$refs.flickity.resize();
		}
	},
	mounted() {
		setTimeout(() => {
			this.$refs.flickity.resize();
		}, 10);
	},
};
</script>

<style lang="scss">
.galleryWrp {
		margin: 32px 0;
		padding-left: 60px;
		@media (max-width: 1599px) {
			padding-left: 0px;
		}
		@media (max-width: 1199px) {
			padding-left: 0px;
		}
		.slider {
			.slide {
				padding: 0 5px;
				// max-width: 100%;
				img {
					height: 448px;
					display: block;
					@media (max-width: 575px) {
						height: 400px;
					}
				}
			}
		}
		.nav {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 32px 0 24px;
			img {
				margin: 0 10px;
			}
			.ic-arrow-long-left,
			.ic-arrow-long-rigth {
				font-size: 15px;
				cursor: pointer;
			}
		}
	}
</style>