<template>
	<div>
		<div class="donationCountLabel">
			<span class="ic-drop"></span> {{ getDonationName(+compdata) }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'LeftDonationCount',
	props: ['compdata']
}
</script>

<style>

</style>