<template>
	<div class="tagsWrap">
		<router-link
			v-for="(item, index) in compdata"
			:key="index"
			:to="{ path: item.url }"
			class="tag"
			>{{ item.name }}</router-link
		>
	</div>
</template>

<script>
export default {
	name: 'LeftTags',
	props: ['compdata'],
}
</script>

<style lang="scss">
.tagsWrap{
	a{
		text-align: left !important;
	}
}
</style>