<template>
	<div>
		<h2>{{compdata.title}}</h2>
		<ul v-if="compdata.type == 'ul'">
			<li v-for="(item, index) in compdata.list" :key="index" v-html="item.item"></li>
		</ul>
		<ol v-else>
			<li v-for="(item, index) in compdata.list" :key="index" v-html="item.item"></li>
		</ol>
	</div>
</template>

<script>
export default {
	name: 'list',
	props: ['compdata'],
}
</script>

<style>

</style>