<template>
	<div class="questionForm">
		<div class="messangerContactIlustration">
			<img :src="path(compdata.image)" :alt="path(compdata.image)">
		</div>
		<div class="constrFormCaption centered">{{compdata.title}}</div>
		<p class="constrFormTxt centered">{{compdata.subtitle}}</p>
		<div class="constrMessangersLinks">
			<template v-for="(item, index) in compdata.list">
				<a :key="index" v-if="item.type == 'telegram'" :href="item.link" class="telegram">
					<span class="ic-telegram"></span>
					{{item.title}}
				</a>
				<a :key="index" v-else-if="item.type == 'viber'" :href="item.link" class="viber">
					<span class="ic-viber"></span>
					{{item.title}}
				</a>
				<a :key="index" v-else-if="item.type == 'phone'" :href="item.link" class="phone">
					<span class="ic-phone"></span>
					{{item.title}}
				</a>
			</template>
		</div>
	</div>
</template>

<script>
export default {
	name: 'QuestionForm',
	props: ['compdata']
}
</script>

<style>
.questionForm{
	max-width: 700px;
	margin: 60px 0;
	margin-left: auto !important;
	margin-right: auto !important;
}
</style>