<template>
	<div>
		<div class="quote">
			<div class="text">
				<span class="ic-quote"></span>
				<div class="textholder" v-html="compdata.text"></div>
				</div>
			<div v-if="compdata.title" class="author">
				<div class="deco"></div>
				<div class="textholder" v-html="compdata.title"></div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'QuoteBlock',
	props: ['compdata']
}
</script>

<style lang="scss">
.quote{
	margin: 24px 0;
	.text{
		position: relative;
		padding-left: 55px;
		.textholder *{
			font-weight: 600;
			font-size: 22px;
			line-height: 160%;
			color: #000000;
			margin: 0;
		}
		.ic-quote{
			font-size: 21px;
			color: #F4A700;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
	.author{
		position: relative;
		padding-left: 55px;
		.textholder{
			font-weight: 600;
			font-size: 16px;
			line-height: 160%;
			color: #262628;
			margin: 16px 0 0;
		}
		.deco{
			position: absolute;
			width: 30px;
			height: 5px;
			background-color: #F4A700;
			top: 10px;
			left: 0;
		}
	}
}
</style>