<template>
	<div class="seealso">
		<router-link v-for="(item, index) in compdata.list" :key="index" :to="{path: item.url}" class="postNameItem">
			<div class="date">дата</div>
			<p>{{item.title}}</p>
		</router-link>
	</div>
</template>

<script>
export default {
	name: 'SeeAlso',
	props: ['compdata'],
}
</script>

<style lang="scss">
.seealso{
	margin-bottom: 40px;
}
.postNameItem {
	margin-top: 42px !important;
	text-decoration: none !important;
	display: block !important;
	.date {
		font-style: normal !important;
		font-weight: 600 !important;
		font-size: 14px !important;
		line-height: 110% !important;
		color: #8e8e93 !important;
	}
	p {
		font-style: normal !important;
		font-weight: 600 !important;
		font-size: 28px !important;
		line-height: 135% !important;
		text-decoration-line: underline !important;
		color: #8e8e93 !important;
		margin: 8px 0 0 !important;
	}
	&:hover {
		p {
			color: #e10b17 !important;
		}
	}
}
</style>