<template>
	<div>
		<h2 v-if="compdata.title">{{compdata.title}}</h2>
		<div v-if="compdata.description" v-html="compdata.description"></div>
	</div>
</template>

<script>
export default {
	name: 'simple-text',
	props: ['compdata'],
}
</script>

<style>

</style>