<template>
	<div class="twoColGroup">
		<div class="l" v-html="compdata.text1">
			<!-- <h4>Вітання - Рісепшн</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo adipiscing pellentesque nunc aliquet semper aenean vitae donec. </p> -->
		</div>
		<div class="r" v-html="compdata.text2">
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo adipiscing pellentesque nunc aliquet semper aenean vitae donec. </p>
			<h2>Вітання - Рісепшн</h2>
			<h3>Вітання - Рісепшн</h3>
			<h4>Вітання - Рісепшн</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo adipiscing pellentesque nunc aliquet semper aenean vitae donec. Nunc quam proin nam velit pellentesque justo leo. Volutpat donec scelerisque semper ac. Aliquam, quis proin tortor mauris scelerisque tellus nulla interdum ornare. </p>
			<ol>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
			</ol>
			<ul>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
				<li>
					<p>групову належність та резус-фактор;</p>
				</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo adipiscing pellentesque nunc aliquet semper aenean vitae donec. Nunc quam proin nam velit pellentesque justo leo. Volutpat donec scelerisque semper ac. Aliquam, quis proin tortor mauris scelerisque tellus nulla interdum ornare. </p>
			<p><a href="#">Lorem ipsum dolor sit amet</a></p> -->
		</div>
	</div>
</template>

<script>
export default {
	name: 'TwoColText',
	props: ['compdata'],
}
</script>

<style>

</style>