<template>
	<div class="fullWidthImg">
		<img :src="path(compdata.image)" :alt="path(compdata.image)">
	</div>
</template>

<script>
export default {
	name: 'WideImg',
	props: ['compdata'],
}
</script>

<style>

</style>