<template>
	<div ref="wrper" class="wrper">
		<youtube
			v-if="calculate"
			:video-id="videoId"
			:player-width="playerWidth"
			:player-height="playerHeight"
		></youtube>
	</div>
</template>

<script>
export default {
	props: ["videoId"],
	components: {},
	data() {
		return {
			side: "w",
			calculate: false,
			timerid: null
		};
	},
	methods: {
		triggler(){
			this.calculate = false;
			this.calculate = true;
		},
	},
	computed: {
		playerWidth() {
			if (this.calculate) return this.$refs.wrper.offsetWidth;
			else return null;
		},
		playerHeight() {
			if (this.calculate) return Math.floor((this.playerWidth * 9) / 16);
			else return null;
		},
	},
	mounted() {
		window.addEventListener("resize", this.triggler);
		this.timerid = setTimeout(() => {
			this.calculate = true;
		}, 50);
	},
	destroyed () {
		window.removeEventListener("resize", this.triggler);
	},
}
</script>

<style lang="scss">
.wrper{
	width: 100%;
	overflow: hidden;
	min-height: 20px;
}
</style>