<template>
	<div class="layoutWrp">
		<MobHeaderMenu @menuswitch="$emit('menuswitch')" style="position: static"></MobHeaderMenu>
		<transition name="fadefast" mode="out-in">
			<div v-if="!loaded" class="loadingFiller" key="ld">
				<div class="lds-dual-ring"></div>
			</div>
			<div v-if="loaded" :key="'pagecontent'">
				<template v-for="(comp, index) in constructor">
					<component
						v-if="comp.visibility == 1"
						:key="index"
						:is="getname(comp.component)"
						:compdata="comp.content"
						@menuswitch="$emit('menuswitch')"
					></component>
				</template>
			</div>
		</transition>
	</div>
</template>

<script>
import MobHeaderMenu from "@/components/common/MobHeaderMenu.vue";
import AboutFirstScreen from "@/components/landings/AboutFirstScreen.vue";
import TagsField from "@/components/landings/TagsFields.vue";
import AboutSimpleText from "@/components/landings/AboutSimpleText.vue";
import ImgGal from "@/components/landings/ImageCarousel.vue";
import HistoryComp from "@/components/landings/History.vue";
import Certs from "@/components/landings/Certs.vue";
import LandFeedback from "@/components/landings/LandFeedback.vue";

export default {
	components: {
		MobHeaderMenu,
		"droplets": AboutFirstScreen,
		"menucomp": TagsField,
		"simple-text": AboutSimpleText,
		"slider": ImgGal,
		"history": HistoryComp,
		"certificates": Certs,
		"feedback": LandFeedback,
	},
	data() {
		return {
			loaded: false,
			constructor: null,

			testImg:{
				list:[
					{
						image: `${require('@/assets/img/g2.png')}`
					},
					{
						image: `${require('@/assets/img/g1.png')}`
					},
					{
						image: `${require('@/assets/img/g2.png')}`
					},
					{
						image: `${require('@/assets/img/g1.png')}`
					},
					{
						image: `${require('@/assets/img/g2.png')}`
					},
					{
						image: `${require('@/assets/img/g1.png')}`
					},
				]
			},
		};
	},
	methods: {
		// TODO название компонента сделать не "menu"
		getname(n) {
			switch (n) {
				case 'menu':
					return 'menucomp'
			}
			return n;
		}
	},
	created() {
		this.axios.post("/api/landing/get-by-slug", { lang: this.$i18n.locale, slug: 'about', }).then((response) => {
			this.constructor = response.data.data.constructor;
			document.title = response.data.data.translate.title;
			this.loaded = true;
		});
	},
};
</script>

<style lang="scss">
.layoutWrp{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
</style>