<template>
	<div class="viewWrapper">
		<MobHeaderMenu
			@menuswitch="$emit('menuswitch')"
			style="position: static"
		></MobHeaderMenu>
		<section class="mapPageSection">
			<div class="twoCol">
				<div class="l">
					<div class="controlsBtns">
						<router-link :to="{name: 'home', params: {locale: $i18n.locale == 'uk' ? null : $i18n.locale}}" class="backBtn">
							<span class="ic-arrow-long-left"></span>
						</router-link>
						<div class="iWrp">
							<input type="text" v-model="querry"/>
							<span class="ic-lupa"></span>
						</div>
					</div>
					<div class="mapPageCities">
						<map-item
							v-for="(item, index) in filteredmarkersData"
							:key="item.id"
							:opened="currentOpened == index"
							:markerdata="item"
							@open="onMarkerItemClick(index)"
							@close="currentOpened = null"
						></map-item>
					</div>
				</div>
				<div class="r">
					<div class="mapWrp" ref="mainMap"></div>
				</div>
			</div>
			<div class="tagsField">
				<template v-for="(item, index) in menuTags">
					<router-link :to="{path: item.url}" :key="index" class="tagItem">{{item.name}}</router-link>
				</template>
			</div>
		</section>
	</div>
</template>

<script>
import mapItem from "@/components/map/MapItem.vue";
import GoogleMapsApiLoader from "google-maps-api-loader";
import MobHeaderMenu from "@/components/common/MobHeaderMenu.vue";
export default {
	name: "PlasmacentersView",
	components: {
		mapItem,
		MobHeaderMenu
	},
	data() {
		return {
			querry: '',
			markersData: null,
			loaded: false,
			mapConfig: {
				zoom: 7,
				center: { lat: 49.224154, lng: 31.505217 },
			},
			currentOpened: null,
			apiKey: "AIzaSyB_LTi9s98lZz5PpDXch8kJnEbYXI0awso",
			google: null,
			map: null,

			menuTags: null,
			markers: [],
			windows: [],
		};
	},
	async mounted() {
		let response = await this.axios.post('/api/plasmacenters/all', { lang: this.$i18n.locale });
		this.markersData = response.data.data.models;
		this.menuTags = response.data.data.menu;
		// document.title = this.pageData.translate.title;
		this.loaded = true;
		const googleMapApi = await GoogleMapsApiLoader({
			apiKey: this.apiKey,
			language: this.$i18n.locale,
		});
		this.google = googleMapApi;
		this.initializeMap();

	},
	methods: {
		initializeMap() {
			const mapContainer = this.$refs.mainMap;
			this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
			this.markersData.forEach(marker => {
				let markerObj = new this.google.maps.Marker({
					position: {lat: +marker.model.coord_lat, lng: +marker.model.coord_lng},
					map: this.map,
				});
				this.markers.push(markerObj);
			});
			this.markersData.forEach( item => {
				let contentString = `<h2>${item.translate.title}</h2>`;
				contentString += `<p><b>${this.$t('map.address')}: </b>${item.translate.address}</p>`;
				contentString += `<p><b>${this.$t('map.schedule')}: </b>${item.translate.schedule}</p>`;
				contentString += `<p><b>${this.$t('map.email')}: </b>${item.translate.email}</p>`;
				contentString += `<p><b>${this.$t('map.phone')}: </b>${item.translate.phone}</p>`;

				const window = new this.google.maps.InfoWindow({
					content: contentString,
				});
				this.windows.push(window);
			});
			this.markers.forEach((item, index) => {
				item.addListener('click', () => {
					this.windows.forEach((wind, winInd) => {
						if(index == winInd)
							wind.open({
								anchor: item,
								map: this.map,
								shouldFocus: true,
							});
						else
							wind.close();
					})
				})
			});
		},
		onMarkerItemClick(index){
			this.currentOpened = index;
			let latLng = new this.google.maps.LatLng(+this.markersData[index].model.coord_lat, +this.markersData[index].model.coord_lng);
			this.setNewCenter(latLng, 16);
		},
		setNewCenter(latLng, zoom){
			this.map.panTo(latLng);
			this.map.setZoom(zoom, 1000);
		},
	},
	computed: {
		filteredmarkersData() {
			if(this.querry != ''){
				let filtered = [];
				this.markersData.forEach(item => {
					if(item.translate.city.toLowerCase().match(this.querry.toLowerCase()))
						filtered.push(item);
				});
				return filtered;
			}
			else{
				return this.markersData;
			}
		}
	},
};
</script>

<style lang="scss">
.viewWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.mapPageSection {
	background: #f2f2f2;
	flex-grow: 1;
	padding: 23px 57px 66px 48px;
	@media (max-width: 1365px) {
		padding: 0px 0px 66px 0px;
	}
	.twoCol {
		display: flex;
		.l {
			width: calc(460px + 48px);
			padding-right: 48px;
			box-sizing: border-box;
			@media (max-width: 1365px) {
				width: 100%;
				padding-right: 0px;
			}
		}
		.r {
			flex-grow: 1;
			@media (max-width: 1365px) {
				display: none;
			}
		}
	}
	.controlsBtns {
		display: flex;
		padding-bottom: 24px;
		@media (max-width: 1365px) {
			padding: 24px 48px;
			background-color: #f8f8f8;
		}
		.backBtn {
			height: 47px;
			width: 63px;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: unset;
			border: none;
			box-shadow: 0 0 0 1px inset #aeaeb2;
			margin-right: 16px;
			transition: 0.3s ease;
			text-decoration: none;
			&:hover {
				background-color: #e10b17;
				box-shadow: 0 0 0 1px #e10b17;
				color: #fff;
			}
		}
		.iWrp {
			position: relative;
			flex-grow: 1;
			input {
				height: 47px;
				width: 100%;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
				padding: 0 46px 0 24px;
				box-sizing: border-box;
				box-shadow: 0 0 0 1px inset #aeaeb2;
				background: #f2f2f2;
				border-radius: 4px;
				border: none;
				outline: none;
			}
			.ic-lupa {
				position: absolute;
				top: 50%;
				right: 16px;
				z-index: 1;
				transform: translate(0, -50%);
				color: #aeaeb2;
			}
		}
	}
	.mapPageCities {
		padding: 24px 0;
		.item {
			&.open {
				padding-bottom: 16px;
			}
			.head {
				display: flex;
				// box-shadow: 0 -2px 0 0px inset #aeaeb2;
				padding-bottom: 8px;
				@media (max-width: 1365px) {
					margin: 0 48px;
				}
				.caption {
					font-weight: 600;
					font-size: 24px;
					line-height: 120%;
					color: #000000;
					flex-grow: 1;
					margin: 0;
				}
				.ic-close-square {
					font-size: 14px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 24px;
					height: 24px;
					cursor: pointer;
				}
			}
			.headMini {
				display: flex;
				padding: 16px 0;
				box-shadow: 0 -1px 0 0px inset #aeaeb2;
				cursor: pointer;
				@media (max-width: 1365px) {
					margin: 0 48px;
				}
				@media (max-width: 575px) {
					margin: 0 16px;
				}
				.caption {
					font-weight: 600;
					font-size: 24px;
					line-height: 120%;
					color: #000000;
					flex-grow: 1;
					margin: 0;
					margin-top: 10px;
				}
				&:hover {
					.caption {
						color: #e10b17;
					}
				}
			}
			.itemBody {
				padding: 16px 0 0;
				@media (max-width: 1365px) {
					margin: 0 48px;
				}
				.propItem {
					display: block;
					text-decoration: none;
					position: relative;
					font-weight: 600;
					font-size: 14px;
					line-height: 140%;
					color: #000000;
					padding-left: 36px;
					padding-bottom: 16px;
					[class^="ic-"],
					[class*=" ic-"] {
						position: absolute;
						top: 10px;
						left: 11px;
						transform: translate(-50%, -50%);
						color: #f4a700;
					}
					.ic-marker {
						font-size: 20px;
					}
					.ic-time {
						font-size: 16px;
					}
					.ic-mail {
						font-size: 13px;
					}
					.ic-phone {
						font-size: 16px;
					}
				}
				a.propItem {
					&:hover {
						color: #e10b17;
					}
				}
			}
			.ft {
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media (max-width: 1365px) {
					margin: 0 48px;
				}
				@media (max-width: 575px) {
					flex-direction: column;
				}
				.mainAction {
					@media (max-width: 1023px) {
						background: #e10b17;
						box-shadow: 0 0 0 1px inset #e10b17;
						color: #fff;
					}
					@media (max-width: 575px) {
						width: 100%;
						margin-top: 24px;
					}
				}
				.more {
					font-weight: 600;
					font-size: 14px;
					line-height: 18px;
					text-decoration-line: underline;
					color: #8e8e93;
					&:hover {
						color: #e10b17;
					}
				}
				.socWrp {
					display: flex;
					@media (max-width: 575px) {
						margin-top: 24px;
					}
					a {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						box-shadow: 0 0 0 1px inset #8e8e93;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 17px;
						color: #8e8e93;
						text-decoration: none;
						margin: 0 5px;
						transition: 0.3s ease;
						&:hover {
							background: #e10b17;
							box-shadow: 0 0 0 1px inset #e10b17;
							color: #fff;
							transform: translate(0, -5px);
						}
					}
				}
			}
			.mainAction {
				width: 156px;
				height: 49px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 600;
				font-size: 13px;
				line-height: 17px;
				color: #000000;
				text-decoration: none;
				transition: 0.3s ease;
				box-shadow: 0 0 0 1px inset #aeaeb2;
				&:hover {
					background: #e10b17;
					box-shadow: 0 0 0 1px inset #e10b17;
					color: #fff;
				}
			}
			.itemMap {
				height: 600px;
				margin: 16px 0;
				display: none;
				@media (max-width: 1365px) {
					display: block;
				}
			}
		}
		.item:last-child {
			.headMini {
				box-shadow: unset !important;
			}
		}
	}
	.mapWrp {
		height: 690px;
		background-color: #dfdfdf;
	}
	.tagsField {
		position: relative;
		@media (max-width: 1365px) {
			margin-left: 48px;
			margin-right: 48px;
		}
		@media (max-width: 575px) {
			margin-left: 16px;
			margin-right: 16px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #aeaeb2;
		}
	}
}
</style>