<template>
	<div class="layoutWrp">
		<MobHeaderMenu
			@menuswitch="$emit('menuswitch')"
			style="position: static"
		></MobHeaderMenu>

		<transition name="fadefast" mode="out-in">
			<div v-if="!loaded" class="loadingFiller" key="ld">
				<div class="lds-dual-ring"></div>
			</div>
			<div v-if="loaded" :key="'pagecontent'">
				<section class="postPageSection">
					<div class="twoCol">
						<div class="l">
							<div class="lWrapper">
								<div class="backBtnWrp">
									<router-link
										v-if="isPost"
										:to="{
											name: 'home',
											params: {
												locale: $i18n.locale == 'uk' ? null : $i18n.locale,
											},
										}"
										class="backBtn"
									>
										<span class="ic-arrow-long-left"></span>
										{{ $t("menu.mainPage") }}
									</router-link>
									<router-link
										v-if="isPlasmacenter"
										:to="{
											name: 'plasmacenters',
											params: {
												locale: $i18n.locale == 'uk' ? null : $i18n.locale,
											},
										}"
										class="backBtn"
									>
										<span class="ic-arrow-long-left"></span>
										{{ $t("plasmacenters") }}
									</router-link>
									<router-link
										v-if="isArticle"
										:to="{
											name: 'news',
											params: {
												locale: $i18n.locale == 'uk' ? null : $i18n.locale,
											},
										}"
										class="backBtn"
									>
										<span class="ic-arrow-long-left"></span> {{ $t("toNews") }}
									</router-link>
								</div>
								<h1>
									{{ pageData.translate.title || pageData.translate.name }}
								</h1>

								<template v-if="audios">
									<audio-player
										v-for="(item, index) in audios"
										:key="index"
										:compdata="{ audio: item.src, title: item.name }"
									></audio-player>
								</template>

								<div v-if="city && !isPlasmacenter" class="sityTitle">
									{{ city }}
								</div>

								<left-donation-count
									v-if="donationsCount"
									:compdata="donationsCount"
								></left-donation-count>

								<left-tags v-if="tags" :compdata="tags"></left-tags>

								<share
									v-if="isShare"
									:compdata="{ title: $t('share') }"
								></share>

								<!-- регалии -->
								<company-property
									v-if="companyProperty"
									:compdata="companyProperty"
								></company-property>

								<left-join-us
									v-if="isSighUp"
									:url="pageData.model.request_link"
								></left-join-us>
							</div>
						</div>
						<div class="r">
							<div class="articleWrp">
								<MainYtVid
									v-if="youtube"
									:videoId="youtubeParser(youtube)"
								></MainYtVid>
								<div v-if="isPlasmacenter" class="mapWrp" ref="googleMap"></div>
								<template v-for="(comp, index) in constructor">
									<component
										v-if="comp.visibility == 1"
										:class="'defWrp'"
										:key="index"
										:is="getName(comp.component)"
										:compdata="comp.content"
										@menuswitch="$emit('menuswitch')"
									></component>
								</template>
							</div>
						</div>
					</div>
				</section>
			</div>
		</transition>
	</div>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";

import MobHeaderMenu from "@/components/common/MobHeaderMenu.vue";
import SimpleText from "@/components/constructor/SimpleText.vue";
import MainYtVid from "@/components/constructor/YtVid.vue";

import LeftJoinUs from "@/components/constructor/LeftJoinUs.vue";
import LeftTags from "@/components/constructor/LeftTags.vue";
import LeftDonationCount from "@/components/constructor/LeftDonationCount.vue";
import AudioPlayer from "@/components/constructor/audioPlayer.vue";
import CompanyProperty from "@/components/constructor/CompanyProperty.vue";

import Quote from "@/components/constructor/Quote.vue";
import List from "@/components/constructor/List.vue";
import ImageCarousel from "@/components/constructor/ImgConstr.vue";
import WideImg from "@/components/constructor/WideImg.vue";
import TwoColText from "@/components/constructor/TwoColText.vue";
import Faq from "@/components/constructor/faqComponent.vue";
import DonorsConst from "@/components/constructor/DonorsConstr.vue";
import ButtonConstr from "@/components/constructor/ButtonConstr.vue";
import SeeAlso from "@/components/constructor/SeeAlso.vue";
import ConstrShare from "@/components/constructor/ConstrShare.vue";
import JoinUsForm from "@/components/constructor/JoinUsForm.vue";
import ContactForm from "@/components/constructor/ContactForm.vue";
import ContactFormPhone from "@/components/constructor/ContactFormPhone.vue";
import QuestionForm from "@/components/constructor/QuestionForm.vue";

export default {
	name: "PostView",
	components: {
		MobHeaderMenu,
		MainYtVid,
		"simple-text": SimpleText,
		list: List,
		gallery: ImageCarousel,
		"image-element": WideImg,
		"text-2-columns": TwoColText,
		"question-answer": Faq,
		donors: DonorsConst,
		"donors-slider": DonorsConst,
		"button-element": ButtonConstr,
		"see-also": SeeAlso,
		share: ConstrShare,
		"join-us": JoinUsForm,
		"contact-form": ContactForm,
		"contact-form-only-phone": ContactFormPhone,
		"questions-form": QuestionForm,
		quotes: Quote,

		LeftJoinUs,
		LeftTags,
		LeftDonationCount,
		AudioPlayer,
		CompanyProperty,
	},
	data() {
		return {
			pageName: "",
			pageData: null,
			constructor: null,
			loaded: false,

			apiKey: "AIzaSyB_LTi9s98lZz5PpDXch8kJnEbYXI0awso",
			google: null,
			map: null,
		};
	},
	methods: {
		getName(s) {
			switch (s) {
				case "button":
					return "button-element";
			}
			return s;
		},
		youtubeParser(url) {
			var regExp =
				/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
			var match = url.match(regExp);
			return match && match[7].length == 11 ? match[7] : false;
		},
		initializeMap() {
			const mapContainer = this.$refs.googleMap;
			this.map = new this.google.maps.Map(mapContainer, {
				zoom: 16,
				center: {
					lat: +this.pageData.model.coord_lat,
					lng: +this.pageData.model.coord_lng,
				},
			});
			new this.google.maps.Marker({
				position: {
					lat: +this.pageData.model.coord_lat,
					lng: +this.pageData.model.coord_lng,
				},
				map: this.map,
			});
		},
	},
	computed: {
		audios() {
			return this.pageData.audio.length > 0 ? this.pageData.audio : null;
		},
		city() {
			return this.pageData.translate.city || null;
		},
		donationsCount() {
			// TODO donationsCount
			return this.pageData.model.donations || null;
		},
		tags() {
			return this.pageData.model.menu_items || null;
		},
		youtube() {
			return this.pageData.model.youtube || null;
		},
		isShare() {
			return this.pageData.model.is_share_block == 1 ? true : false;
		},
		isSighUp() {
			return this.pageData.model.is_sign_up_block == 1 ? true : false;
		},
		currentLocation() {
			return window.location.href;
		},
		isPost() {
			return this.pageName == "post";
		},
		isPlasmacenter() {
			return this.pageName == "plasmacenter";
		},
		isDonor() {
			return this.pageName == "donor";
		},
		isArticle() {
			return this.pageName == "article";
		},
		companyProperty() {
			if (this.isPlasmacenter) {
				return {
					props: {
						address: this.pageData.translate.address || null,
						schedule: this.pageData.translate.schedule || null,
						email: this.pageData.translate.email || null,
						phone: this.pageData.translate.phone || null,
					},
					socials: [...this.pageData.socials],
				};
			} else return null;
		},
	},
	async created() {
		let url = "";
		let googleMapApi = null;
		switch (this.$route.name) {
			case "post":
				this.pageName = "post";
				url = "/api/page/get-by-slug";
				break;
			case "plasmacenter":
				this.pageName = "plasmacenter";
				url = "/api/plasmacenters/get-by-slug";
				googleMapApi = await GoogleMapsApiLoader({
					apiKey: this.apiKey,
				});
				this.google = googleMapApi;
				break;
			case "article":
				this.pageName = "article";
				url = "/api/news/get-by-slug";
				break;
			case "donor":
				this.pageName = "donor";
				url = "/api/donors/get-by-slug";
				break;
			default:
				alert("Как вы сюда попали?");
				break;
		}
		try {
			let response = await this.axios.post(url, {
				lang: this.$i18n.locale,
				slug: this.$route.params.slug,
			});
			this.pageData = response.data.data;
			this.constructor = this.pageData.constructor;
			document.title = this.pageData.translate.meta_title || this.pageData.translate.title || this.pageData.translate.name;
			
			this.loaded = true;
			if (this.isPlasmacenter) {
				document.CityName = this.city;
				setTimeout(() => {
					this.initializeMap();
				}, 1000);
			}
		} catch (e) {
			console.dir(e);
			this.$router.replace({
				name: "error404",
				params: {
					locale: this.$i18n.locale == "uk" ? null : this.$i18n.locale,
				},
			});
		}
	},
};
</script>

<style lang="scss">
@import "../scss/article.scss";
.layoutWrp {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background: #f8f8f8;
}
.postPageSection {
	padding: 24px 48px 84px;
	background: #f8f8f8;
	flex-grow: 1;
	@media (max-width: 575px) {
		padding: 24px 16px 0;
	}
	& > .twoCol {
		display: flex;
		@media (max-width: 1365px) {
			flex-direction: column;
		}
		& > .l {
			width: calc(400px + 108px);
			padding-right: 108px;
			box-sizing: border-box;
			flex-shrink: 0;
			@media (max-width: 1365px) {
				width: 100%;
				padding-right: 0px;
			}
			.lWrapper {
				position: sticky;
				top: 30px;
			}
		}
		& > .r {
			overflow: hidden;
			width: calc(100vw - 663px);
			@media (max-width: 1365px) {
				width: 100%;
				margin-top: 48px;
			}
		}
	}
	.backBtnWrp {
		display: flex;
		.backBtn {
			height: 63px;
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 15px;
			line-height: 19px;
			color: #000000;
			box-shadow: 0 0 0 1px #aeaeb2;
			padding: 0 16px;
			border: none;
			background-color: #f8f8f8;
			cursor: pointer;
			transition: 0.3s ease;
			text-decoration: none;
			.ic-arrow-long-left {
				font-size: 15px;
				margin-right: 8px;
			}
			&:hover {
				background-color: #e10b17;
				box-shadow: 0 0 0 1px #e10b17;
				color: #fff;
			}
		}
	}
	h1 {
		font-style: normal;
		font-weight: 600;
		font-size: 46px;
		line-height: 100%;
		color: #aeaeb2;
		margin: 28px 0 24px;
		@media (max-width: 1199px) {
			font-size: 36px;
			line-height: 120%;
		}
		@media (max-width: 575px) {
			font-size: 30px;
			line-height: 120%;
		}
	}
	.sityTitle {
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		color: #aeaeb2;
		margin: 16px 0 36px;
	}
	.donationCountLabel {
		border-radius: 0px 23px 23px 23px;
		box-shadow: 0 0 0 1px inset #6cb6f1;
		padding: 12px;
		display: inline-block;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 26px;
		color: #000000;
		.ic-drop {
			font-size: 19px;
			color: #6cb6f1;
			margin-right: 12px;
		}
	}
	.tagsWrap {
		margin-top: 16px;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 576px) {
			display: none;
		}
		.tag {
			margin: 0px 4px 8px;
			padding: 10px;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			color: #262628;
			box-shadow: 0 0 0 1px inset #aeaeb2;
			text-decoration: none;
			transition: 0.3s ease;
			text-align: center;
			@media (max-width: 425px) {
				width: 100%;
			}
			&:hover {
				background: #f4a700;
				box-shadow: 0 0 0 1px inset #f4a700;
			}
		}
	}
	.hdDate {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
		margin: 8px 0 16px;
	}
}
.contactFormWrp {
	max-width: 700px;
	margin: auto;
}
</style>