<template>
	<div class="faqComponent">
		<template v-if="compdata">
			<div
				v-for="(item, index) in compdata"
				:key="index"
				class="item"
				:class="{ opened: currentIndex == index }"
			>
				<div class="hd" @click="onHdClick(index)" :ref="`item${index}`">
					<p class="caption" v-html="item.title"></p>
					<span class="ic-close-square" @click.stop="switchState(index)"></span>
				</div>

				<slide-up-down
					v-if="item.items"
					:active="currentIndex == index"
					:duration="300"
				>
					<div class="body">
						<div
							class="chareItem"
							v-for="item2 in splitted(item.items)"
							:key="item2"
						>
							{{ item2 }}
						</div>
					</div>
				</slide-up-down>
			</div>
		</template>
		<div v-else>Empty list data</div>
	</div>
</template>

<script>
export default {
	name: "FaqComponentPromo",
	props: ["compdata"],
	data() {
		return {
			currentIndex: null,
		};
	},
	methods: {
		onHdClick(index) {
			if (typeof this.currentIndex == "number") {
				if (index == this.currentIndex) this.currentIndex = null;
				else {
					this.currentIndex = null;
					this.currentIndex = index;
				}
			} else {
				if (this.currentIndex != index) this.currentIndex = null;
				this.currentIndex = index;
			}
		},
		splitted(items) {
			return items.split(",");
		},

		switchState(i) {
			if (this.currentIndex == null) {
				this.currentIndex = i;
			} else if (this.currentIndex != i) {
				this.currentIndex = i;
			} else {
				this.currentIndex = null;
			}
		},
	},
	computed: {},
	mounted() {},
};
</script>

<style lang="scss">
</style>